<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="../images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<head>
		<title>According To Diaries</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="../index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="../index.html">Home</a></li>
							<li><a href="../FirstDraft.html">First Draft</a></li>
							<li><a href="../FewPages.html">Few Pages</a></li>
							<li><a href="../Aboutus.html">About Us</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit">Instagram</a></li>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>According To Diaries</h1>
									</header>
									<span class="image main"><img src="../images/pic11.jpg" alt="" /></span>
									<p>

										*Narrators* <br>
										<br>
										Man 1: When it comes to paranormal activity, you might find it unreliable or unrealistic yet suspicious. So you tend to dig out the truth behind it.<br>v
										Every story seems quite similar in the beginning but this one's totally different from all the stories you've heard till date. <br>
										Man 2: What makes it so special? <br>
										Man 1: Have you ever seen a diary which fills its pages on it own? <br>
										Man 2: Damn! That's why the researchers are so freaked out about this case. <br>
										Man1: Let me start from the beginning.
										</p>
										<p>
										*Aryan's journal*<br>
										6th November 2008<br>
										<br>
										Hi, I'm Aryan and this is my diary. I'm a story writer but I work as a software engineer in a multinational company for my daily expenses and I really hate my job. Also, I'm not privileged enough to give up my job and go for a career in writing. So I decided to maintain a day-by-day journal of my life in search of a realistic story and also to improve my writing skills. 
										I'm dead tired and have nothing much to say. So that's all for today.
										</p>
										<p>
										
										
										
										9th November 2008 <br>
										<br>
										I'm in the metro, returning home after a tiring day at work. Now you must be wondering, why I'm writing this even after being tired as hell. Well, it's the part where I met the love of my life and the essence of this story. Wait, let me start this from the beginning.<br>
										I had a really annoying day and I was frustrated because of that. But all my frustration flew away when I saw this girl in a white Anarkali suit, while I was punching in my MetroCard. She had a really pretty face. Those big eyes of hers got all my attention. I was so lost, I didn't even realize that I was holding up the queue. I got back into my senses when the man behind me pushed me hard.<br>
										I rushed towards the metro and I saw her again. Luckily we both board the same coach of the same train. She took the seat just in front of me. I spent my entire journey admiring her beauty until she got off the train. I really wanted to talk to her but I got scared.<br>
										</p>
										<p>
										
										12 November 2008<br>
										<br>
										I made it today. I was just getting off the train when I saw her. She looked all tensed and scared. 
										We had eye contact and she started walking towards me.<br>
										
									
										
										"Hey, I'm really sorry for bothering you. Actually, my card is broken and I don't have enough money to pay the penalty. Can I please get out with you while you punch the card?" she said.<br>
										"Yeah, sure. But how can we both get out at the same time?" I couldn't deny her.<br>
										"Relax, I will manage that. I'll walk closer to you while you punch the card," she said.<br>
										"Okay, let's do it then," I said and we both made it.<br>
										"Thanks a lot. That was a great help," she said.<br>
										"That's completely okay. Actually, I should say thanks to you," I said. Yeah, I was excited.
										"Why?," She asked.<br>
										"Nothing. BTW I'm Aryan," I introduced myself to her.<br>
										"Samantha," she said.<br>
										"Hey, you wanna come with me for a bite. Actually, I'm starving right now," she said after a pause. <br>
										And how can I say no to her "Sure, I'd love to," I said. <br>
										"So Dominos or McD?" she asked. <br>
										"Let's go for dominos. I love pizza," I said. <br>
										"Me too," She said <br>
										We both had pizza and a great conversation. She is quite friendly and bold. I liked that. We exchanged numbers and bid farewells to each other. <br>
										On my way back home, I was just thinking about her. "I've never met someone who gets along this easy. She is completely different from others. I should probably ask her out for a date. We might end up somewhere. But it's too late now. I guess I should text her In the morning," I thought. <br>
										</p>
										<p>
										
										
										-13th November 2008- <br>
										 <br>
										Texting her was the first thing I did in the morning. I know I should have waited for a while but I couldn't resist the butterflies in my stomach. <br>
										"Hey, Aryan this side. You remember?" I texted. <br>
										No reply from her. Maybe I texted too early in the morning, she'll text back when she sees the message. I should wait.  <br>
										After a while, I got a call from her. I got all excited and picked up the call.  <br>
										"Good morning, Samantha," I said. <br>
										Nothing from the other side. <br>
										"Hello, are you there?" I asked.  <br>
										Nothing again. I waited for a while and when I was about to cut the call I heard a creepy voice saying 'COME HOME'. I got scared and cut the call. But I had to talk to her so I called her back. <br>
										"Hey, Samantha?" I said. <br>
										"Hey, what's up?" she said. I'm glad she answered. <br>
										"Nothing. Umm.. are you okay? Actually, I heard something really wried from your side when you called," I said. <br>
										"Hmm..? Weird? I sound wried to you?" she asked. <br>
										"No. No, I  didn't mean that. Leave it. I just wanted to say sorry for the early morning text, actually, I was planning to ask you out for dinner tonight. I know you must be thinking that I'm some kind of creep or what because we've just met. The thing is I really like you and would love to have another conversation with you," I said it all without taking a break.  <br>
										"Calm down Aryan, take a breath. I would love to join your company for dinner. So, you're fine with 'Cena'?" she said. <br>
										"7:30?," I asked. <br>
										"Done," she said. <br>
										Yippee, I got a date with Samantha.
										</p>
										<p>
										
										
										
										[In the evening.] <br>
										<br>
										I was late. I knew I won't make it on time so I decided to call Samantha and inform her about the delay. I took out my phone. It has just 4% of battery left and at the very next moment it turned off. So I was completely fucked. <br>
										A really strange thing happened to me that day. I had my phone in my hand and I was continuously scolding my luck, all of a sudden my phone started buzzing. It startled me. When I looked at it, there was an incoming call from Samantha. How is it possible? The phone died a moment ago. <br>
										Somehow I picked up the call and didn't say anything as I was waiting for a response from another side. <br>
										After a long pause, I heard the same creepy voice repeating the same words, 'COME HOME'. Before I could say anything, the call ended. <br>
										I called back. She picked. <br>
										"Hey, Samantha! Firstly really sorry that I won't make it on time. But I will be there by 8:30. And you won't believe what happened to my phone today. It was...," my phone died. For real this time. <br>
										I rushed towards the place called Cena. Samantha was already waiting for me there. She looked really beautiful in the red dress she was wearing. Actually, she looks great in whatever she wears. <br>
										"Hey, Sorry for being late," I said. <br>
										"Stop saying that again and again. It won't bring back the time. Let's not waste another second discussing it," she said. I guess she's pissed off.
										</p>
										<p>
										
										
										"I know you're angry but believe me I was actually stuck in traffic. Some assholes were fitting over a stupid cat in the middle of the road. I'm extremely sorry that you had to wait," I apologized. <br>
										"Instead of taking a cab if you flew directly to here, you could have made it on time. There's no traffic in the air, right?" she said. <br>
										"What kind of question is that?" I asked, surprisingly. <br>
										"Just kidding. Let's order the food," she said. <br>
										"Very funny," I said. <br>
										
										After the meal.
										"I'm full now. Can't take another bite," she said. <br>
										"Same here. We should leave now." I said and asked the waiter for the bill.
										"So, where do you live?" she asked. <br>
										"3 blocks away from here. Actually, I recently shifted here. A friend of mine was supposed to be sharing the flat with me but he got a better apartment so he moved there. And I live alone in a 2BHK apartment," I said." <br>
										"What if another friend of yours wants to share the apartment with you?" she said. <br>
										"I'm completely okay with it unless he wants to live there for free. Also, I don't have many friends and to my knowledge, none of them would like to shift here as it is far from work," I said. <br>
										"Maybe any new friend, you recently made," she said. <br>
										"Wait. Wait. Wait! You wanna share the apartment with me?" I asked, shockingly.
										</p>
										<p>
										
										
										
										"Actually I'm tired of my landlord's tantrums. Also, I really like this area. It has everything. So I was actually thinking about getting a flat here. And as you mentioned you have a spare room in your apartment, I thought I shouldn't miss the chance. If you're okay with it," she said. <br>
										"Ya, sure. It'll be great. And I don't have any problem with that," I said. <br>
										"Great then, I'll shift here in two days. Is that okay with you?" she asked. <br>
										"Before you do this, I want to tell you something," I said. <br>
										"Don't tell me your landlord is also an asshole," she said, scared. <br>
										I looked around and took the plastic rose from the little vase on our table and got on my knees. <br>
										"The day I first saw you, I fell madly in love with you. The day you approached me for help, I consider it the luckiest day of my life. I just wanna say I feel complete when I'm with you. I know that's too soon to say but all I know is that I love you a lot with all my heart. And I really mean it. So, Miss Samantha Robbins, would you like to move in with me instead of sharing the apartment and give me a chance to build up this relationship?," I proposed to her. <br>
										She was surprised or happy or angry or shocked, I don't know. I couldn't figure it out from her expression. Then she got on her knees and said, "Yes, Mr. Aryan Sharma. I'd love to." And we kissed.
										</p>
										<p>
										
										
										
										-Narrators-<br>
										<br>
										Man 2: I see, and that's when all the trouble began. When she moved in with Aryan.  <br>
										Man 1: Actually no, the trouble began when he first saw her. This move in was just another step for her to get what she wanted because after that Aryan stopped writing his diaries. <br>
										Man 2: So that's the end of the story? <br>
										Man 1: No, it's the beginning. There's a lot more you need to know.
										Man 2: But if Aryan stopped writing his diaries, how do you know all this?
										Man 1: Remember, when I asked you about a diary which fills its pages on it own? This is it. After 13th November 2008, the diary wrote its own story with blood ink. And no dates were mentioned after that. <br>
										<br>
										[ Apartment scene ] <br>
										
										"This painting is nice," she said, staring at the painting on my wall.  <br>
										"My mom gifted me this," I said. <br>
										"I really love your apartment. It's huge and well maintained," she said. <br>
										"Our apartment," I corrected. <br>
										"That's so sweet of you," she said and kissed me. A sweet peck on my lips. <br>
										"You must be tired, go take a shower and I'll cook dinner for us," I said. <br>
										"Aye, aye, captain," she joked. <br>
										</p>
										<p>
										
										
										
										She was standing under the shower when I entered the washroom. The water was slowly flowing across her naked body as if it was drenching her soul. I slowly walked towards her, grabbed her from behind, and took her by surprise. <br>
										"Gosh! What are you doing here?" she exclaimed. <br>
										"I was feeling dirty, so I thought maybe a shower could help," I mocked and kissed the back of her neck. <br>
										"Let me clean you then," she said. <br>
										She took the sponge and turned around, facing me. Then she started moving the sponge on my chest. It felt like the sponge is moving inside my body. I grabbed her breasts and started cupping them. She moaned. I kissed her. She kissed me back. The flowing water was making it more irresistible.
										I started kissing her body. I kissed her collar bone and kept moving towards her navel, hovering her with little kisses all over her chest, and sat on my knees. She tasted like her sweet cherry shower gel. She kept moaning all the time as I kept kissing her belly button. <br>
										She sat on my thighs and took me inside her. Gosh! She is so tight and wet. She kept pushing me in and out of her. We fucked and fucked and fucked until we both came. It felt so good. <br>
										She was resting on my thighs, breathing heavily, her arms on my shoulders. I kissed her. <br>
										"You're beautiful," I said and kissed her again.
										</p>
										<p>
										
										
										
										I was in the kitchen, cooking the food. I heard some weird noise coming from the balcony as if someone was crying. I went to the balcony and couldn't find anyone there. When I turned around I saw Samantha, standing still. <br>
										"Gosh! It's you. You scared me" I said, holding my breath. <br>
										"So, I'm a ghost?" she asked. <br>
										"No, nothing like that. I didn't mean that. I'm sorry," I said. <br>
										"Oh god! Look at you. You're so scared. Awww my sweet little scared munchkin" she laughed.
										</p>
										<p>
										
										Next morning.<br>
										When I woke up, Samantha was not at home. She had left a note for me, stuck to the fridge. <br>
										It said, "Sorry, I had to leave early as I've some important work due for today at the office. Also, my phone is not working so I left it at home. I'll call you from the office when I'm free. I'll be home by 6:30 so don't worry about me. <br>
										Love ya.<br>
										Samantha"
										</p>
										<p>
										
										I decided to take a leave from the office because I was not in the mood of traveling. Also, it was not paying me well. I had nothing to do, so I decided to make a cup of coffee and have it with some 90's songs. <br>
										While I was sipping my coffee, I heard the same noise of someone crying. I ignored it this time. But it got louder so I went to the balcony to check.
										
										
										</p>
										<p>
										
										I saw a lady standing in the balcony beside mine. She looked at me and smiled. I smiled back. <br>
										"Hi, can you help me? Actually, I just moved in here and there's no electricity in my apartment. So, can you call someone from the management? Please," she requested. <br>
										"Sure," I said and called the management. <br>
										"It's done. They are coming," I said. <br>
										"Thanks a lot," she said. <br>
										"Mention not," I said. <br>
										I heard a knock at my door. <br>
										"I guess, there is someone at door. I'll take it. See you later." I said and moved towards the door. <br>
										"Samantha! You're early!" I said. <br>
										"Were you expecting someone else? I ruined your plan. Right?" she said and went inside the bedroom. <br>
										What's wrong with her? Why is she behaving so weirdly? Maybe the workload at the office had something to do with it. I'll talk to her later. <br>
										At night there was continuous banging at the front door. I rushed towards the door and opened it. There was no one. I locked it and turned around.  Samantha was standing there, giving me a weird look me. <br>
										"Why you always come so silently," I said and there was again banging at the door. I opened it. It was the lady from the balcony. She looked scared. <br>
										"What happened? Are you okay?" I said. <br>
										"There is someone in my apartment. I saw someone in black clothes crying in the balcony. It scared me so I came running here for help," she said, without taking a breath. <br>
										"Calm down. I will go and check. Samantha, you just take care of her," I said and walked into her apartment. <br>
										</p>
										<p>
										
										
										
										"Wait, we are coming with you Aryan. It's not safe for you to go alone there," Samantha said. <br>
										We went inside the apartment and there was no one. The lady grabbed my hand and squeezed it because she was scared. We searched everywhere but couldn't find anyone. I switched on the torch on my phone and saw a painting on her wall. <br>
										"I have the same painting, gifted by my mom," I said. <br>
										"This painting was gifted to me by my dad," she said. <br>
										"I guess there's no one here. So shall we leave now? I have my office tomorrow, early in the morning," Samantha said. <br>
										"Ya sure, BTW there's no one here, I checked your house. In case you need any help you can come to us," I said to the lady. <br>
										"That's what I said. No one is here," Samantha said, angrily.
										</p>
										<p>
										
										We came back to our apartment. <br>
										"Okay, what was that Samantha? Why are behaving like this?," I scolded.
										"I'm behaving like? And what was that? Same painting and all? Why did she come to you only?" She said. <br>
										"Because we met in the morning. She wanted me to call the management. Maybe she felt I could help her. She's new here," I said. <br>
										"Help in what? Didn't you see, how she held your hands? Acting all scared. There was no one in her apartment. She called you because she wants to sleep with you," she said. <br>
										"Are you mad, Samantha? What's wrong with you? I went to help her because I too heard the same weird noise coming from our balcony," I said. <br>
										"I don't want to discuss anything. I'm going to sleep. Good night," she said and went inside the bedroom.
										</p>
										<p>
										
										
										
										She is totally pissed off. I guess I overreacted. <br>
										The next morning she woke up and left for the office, without having breakfast. I felt bad about what I did last night. So I decided I'll cook her favorite food tonight and decorate the house with candles and flowers. But you know sometimes things don't go according to your plan. <br>
										I ordered everything and decorated the house properly. I also ordered a cake for her. <br>
										There was a knock at the door. I guess she's here. I turned off the lights and went to take the door. I opened it, she came in and I screamed, "surprise!" and turned on the lights. When I looked at her I realized it was not Samantha, in fact, it was the lady from the balcony. Before I could say anything I saw Samantha standing behind the lady. She looked pissed off. <br>
										"What's going on here? You're having an affair with her?" Samantha screamed. <br>
										"No Samantha, it's not what it looks like. It's just a misunderstanding. Let me clear it out. Have a seat and relax," I said. <br>
										"Oh seriously! You think I'm dumb enough to hear your stupid excuses?" Samantha said. <br>
										"You're getting the wrong idea, Samantha. I planned it all for you, to make up for yesterday. I heard the knock and I thought it would be you but it was her. It all got spoiled," I said.
										</p>
										<p>
										
										
										
										"Actually I just came here for help. There was an electricity issue at my place so, I thought maybe you could call the management and they'll help me with it," the lady said.<br>
										"You shut up bitch! Wait I will help you. I will kill you and you won't be getting troubles anymore. I won't let anyone come between me and Aryan," Samantha said and she ran towards the kitchen. We ran behind her. She took the knife from the shelf. We got scared. I told Samantha to put the knife down but she won't listen. I grabbed her from the back but she slit my hand with the knife. <br>
										She walked towards the lady. The lady ran for her life and went to the balcony. She started screaming for help there. Samantha followed her to the balcony. She grabbed the lady. The lady started begging for her life but Samantha won't listen. She put the knife into the lady's left eye, reaching her brain. Her face got covered with blood and she fell on the ground. There was blood everywhere. <br>
										"What the fuck have you done, Samantha?" I screamed. I got scared and took out my phone to call the police <br>
										"What are you doing?" Samantha asked. <br>
										"I'm calling the police, you psycho bitch," I said. <br>
										"You're not calling anyone," Samantha said, angrily. <br>
										"You murdered a lady and now you want me to shut up," I said.<br>
										Samantha started snatching my phone so that I won't call the police.
										"Stop Aryan! Give me that stupid phone," Samantha said.<br>
										"No, I won't give you the phone. Just leave me, Samantha," I said and I pushed her back.<br>
										She slipped and fall down from the balcony.
										</p>
										<p>
										
										
										
										Oh my god! What have I done? I pushed Samantha down the balcony. I was so scared I couldn't even look down. <br>
										I called the police and went outside the apartment. The police were already standing outside my apartment. I got shocked. I told them everything. And they went inside, looking for the bodies. They came out after a while. They couldn't find anything so, they charged me for a fake call and left with a fine.
										I went in. There was nothing. The officers were right. I don't know how it happened. I just saw everything by my eyes. I was scared as hell. I went to the balcony to look for Samantha's body but there was nothing. Everything vanished. <br>
										I heard the same crying sound coming from my room. When I turned, I saw Samantha standing there. She said, "COME HOME," and pushed me down the balcony. <br>
										</p>
										<p>
											-Narrators- <br>
											<br>
											Man 2: What the hell!? Are you serious? What happened next? Did the police find anything?<br>
											Man 1: They found Aryan's body, down the balcony without his head. Later, the neighbors kept complaining about the weird sound coming from the apartment. They called the police again but they couldn't find anything, just a diary with "According to diaries" written on its cover with blood. So they called the paranormal researchers and my daughter was the leading officer of the group. She went through the diaries and while she was reading them she felt the presence of Samantha around her. As if she was staring at her. And one day Samantha attacked my daughter.<br>
											Man 2: Samantha seems like some cursed soul.<br>
											Man 1: I guess she is a witch. And these diaries are not just diaries.<br>
											Man 2: How can you say that?<br>
											Man 1: Actually I did some research on the internet and I found this (shows a photograph). This is the same design I found in the diary when I removed the cover.<br>
											Man 2: You mean it's a spellbook?<br>
											Man 1: It could be that's why she is killing everyone because the diary made her do so. She is bounded by the spell. Maybe the witch lost her diary and Aryan got it and started writing his journal in it. So, she made Aryan the target to get her diaries back.<br>
											Man 2: that's the reason she killed the lady and Aryan because the diary demanded sacrifice. And that's why she attacked your daughter to get the diaries back.<br>
											</p>
											<p>
											
											
											Man 1: I guess now you understood the whole story.<br>
											Man 2: Well, maybe yes. Do you have any photographs or something that will help me in writing my book?<br>
											Man 1: Ya, I've got some.<br>
											[ Man 1 hand over some photographs to man 2]<br>
											Man 2: (Gets scared) Are you sure she is Samantha?<br>
											Man 1: Yes, we found these photos inside the diary.<br>
											Man 2: I just saw her outside the building.<br>
											Man 1: What the hell.<br>
											They ran towards the library and found that the diaries were missing from their place.<br>
											<br>
											*Epilogue*<br>
											<br>
											This diary needs the blood of 4 people to complete the sacrifice and get stronger. It has killed 2 people.<br>
											In the photograph, there was Samantha and Man 2 holding the book named "According to Diaries".<br>
											The main motto of Man 2 was to divert man1's mind so that Samantha could kill his daughter and get the diaries. Their next target is the one reading this book.
										</p>
								</div>
							</section>

					</div>

				<!-- Three -->
				<section id="three">
					<div class="inner">
						<!--<header class="major">
							<h2>Massa libero</h2>
						</header>
						<p>Nulle lorem</p>-->
						<ul class="actions">
							<li><a href="../FewPages.html" class="button next">Back</a></li>
						</ul>

						<ul class="actions">
							<li><a href="thediaries.html" class="button next">Next Story</a></li>
						</ul>
						<!--Random button to explor-->
						<ul class="actions">
							<script>
								var sites = [
								'meaningless.html',
												'acctodiaries.html',
												'cloning.html',
												'thewanderer.html',
												'thediaries.html',
												'areulistning.html',
								];
							
								function randomSite() {
									var i = parseInt(Math.random() * sites.length);
									
									location.href = sites[i];
								}
							</script>
							<li><a href="#" onclick="randomSite();" class="button next">Random Explor</a></li>
							</ul>
							<ul class="action">
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>	
						    </ul>

					</div>
				</section>
			  </div>

				<!--Footer
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>-->

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>