<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="../images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<head>
		<title>Are You Listning?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="../index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="../index.html">Home</a></li>
							<li><a href="../FirstDraft.html">First Draft</a></li>
							<li><a href="../FewPages.html">Few Pages</a></li>
							<li><a href="../Aboutus.html">About Us</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit">Instagram</a></li>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Are You Listening?</h1>
									</header>
									<span class="image main"><img src="../images/pic11.jpg" alt="" /></span>
									<p>
                                        <p>
                                        He told me once that I have got no limits, I can fly as high as I want to and he'll always be there for me. But I guess my life has a different story to tell. I'm taking my last breath and I don't know how much more time I've got. But before I go I want him to know that what he mean to me. What his sacrifices mean to me. The thing only we know, the thing only I know and he has no idea about. I want him to know how important he's to me. Here's the thing, the more you want something, higher the price you've to pay. And in this story, he's the one paying the price.
                                        </p>
                                        <p>
                                        
                                        I remember how devastated he was when he saw me in this terrible condition, how angry he was when no-one took my case because I had severe brain injury which was hard to operate. While other doctors cared about their reputation, he cared only about me. He did whatever he could do to make me feel better. He wanted me to live so he gave his best to keep me alive.
                                        We spent hours and hours together. He blabbering about all the stuff he's going through and l listening to every word he spoke silently. And every time before he left, he used to say, "I don't know if you're listening or not but it's good to have someone to tell everything you have in your mind."
                                        </p>
                                        <p>
                                        
                                       
                                        I still remember the day when I met with this horrible accident. I wish my parents hadn't fixed my marriage somewhere else. I wish I had called him instead of going to meet him. I wish I had thought for a second before leaving the house in anger. I wish I had driven the car carefully. Only if I were careful, I might have said all this to him in person instead of writing it. And when we met I was not in condition of saying anything, irony. I wish I had few more years in my hands to give him what he deserved and to express my love to him.
                                        </p>
                                        <p>
                                        
                                        
                                        I wonder if he ever noticed the little grin I had on my face while he talked or it's just in my head.
                                        It surprises me, knowing that a well-reputed neurosurgeon who has everything is short on people to talk with. I remember his words, "I need to go where this path takes me because if I choose my own way and I mess up then I don't know what to do next." I guess I messed up everything this time.
                                        </p>
                                        <p>
                                        
                                        I know I'm not writing this. It's all in my head. He cannot hear any of it. I'm not even allowed to say a final good bye to him. I just wish I could say, "I love you" to him, one last time.</p> 
								</div>
							</section>

					</div>

				<!-- Three -->
				<section id="three">
					<div class="inner">
						<!--<header class="major">
							<h2>Massa libero</h2>
						</header>
						<p>Nulle lorem</p>-->
						<ul class="actions">
							<li><a href="../FewPages.html" class="button next">Back</a></li>
						</ul>

						<ul class="actions">
							<li><a href="perinimper.html" class="button next">Next Story</a></li>
						</ul>
						<!--Random button to explor-->
						<ul class="actions">
							<script>
								var sites = [
								'meaningless.html',
												'acctodiaries.html',
												'cloning.html',
												'thewanderer.html',
												'thediaries.html',
												'areulistning.html',
								];
							
								function randomSite() {
									var i = parseInt(Math.random() * sites.length);
									
									location.href = sites[i];
								}
							</script>
							<li><a href="#" onclick="randomSite();" class="button next">Random Explor</a></li>
							</ul>
							<ul class="action">
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>	
						    </ul>

					</div>
				</section>
			  </div>

				<!--Footer
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>-->

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>