<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="../images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<head>
		<title>Cloning</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="../index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="../index.html">Home</a></li>
							<li><a href="../FirstDraft.html">First Draft</a></li>
							<li><a href="../FewPages.html">Few Pages</a></li>
							<li><a href="../Aboutus.html">About Us</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit">Instagram</a></li>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Cloning</h1>
									</header>
									<span class="image main"><img src="../images/pic11.jpg" alt="" /></span>
									<p>
										A car stopped at the nearby road to the forest. A team of investigators came out of it and moved towards the forest. After walking a mile deep into the forest they saw a dead body hanging from a tree.<br>
										"So, the chaos was for real. There's actually a body hanging from a tree in the middle of the jungle" Kate said.<br>
										"It's scary, looks like a horror scene from a horror movie," Danny said.<br>
										"Kate! You need to see this. There are several cuts and marks on the body. Also, it's covered with mud and dust. It seems like she was dragged in here" Jefra called.<br>
										"Danny, capture all the marks and look for all the evidence in the forest as well. Don't miss a single spot. Call for the search team if required. 
										Jefra, check her pockets for her identity and send the body to the forensic team for autopsy" Kate ordered.<br>
										"There's an ID card in her pocket. It says her name is Cindy Richter. She's a doctor and bio-researcher at some private firm. Her address is also mentioned here. It's at street 22B" Jefra said.<br>
										"Jefra, let's go there and call for back-up. We'll go and check there as well" Kate said.
										</p>
										<p>
										
										"Danny, you stay here and collect all the evidence. Give me a call if you find anything suspicious" Kate said.<br>
										"Will do" Danny replied.<br>
										Kate and Jefra left.<br>
										
										"Break the lock. We've no other option left" Kate said. They're at Cindy's place but it was locked.<br>
										Jefra broke the door with a gunshot. They entered the house. It was dark in there. The lights were broken so they pulled the drapes on the windows to let the light in.<br>
										"Lights are broken but the air conditioner is on. This place is a mess and there are bloodstains all over the place. Seems like someone came here, killed Cindy, and took her to the jungle," Jefra said.<br>
										"Quite possible. Search more and call the forensic team. Also start interrogating the neighbors." Kate said.<br>
										"On it!" Jefra said and started making the calls.<br>
										"Jefra, did you notice? There isn't any bed or couch over here, not even a quilt. If Cindy lived here, where she might be sleeping? The site resembles as some kind of research center. Cindy must be working on some project here" Kate was suspicious.<br>
										</p>
										<p>
										
										"Why will she give the address of the research center? And where did she actually live?" Jefra asked.<br>
										"Not here for sure," Kate said.<br>
										They started to collect all the evidence.<br>
										"Kate! Come in here. I have to show you something" Jefra called from another room. <br>
										Kate rushed to the room. She saw Jefra was holding a binder. <br>
										"Look at this picture. The guy standing beside Cindy here is Dr. Snow. He used to work with Cindy and they're working on some projects. The file is covered with blood. I guess it's Cindy's blood" Jefra said, pointing to the picture.<br>
										"I guess we found the culprit. Circulate this picture to every police station in the state. Also, get some wanted posters of Dr. Snow and send them all over the country. If he's on run, he might not have gone so far. We can still catch him. And get it all done by today" Kate ordered and left.
										</p>
										<p>
										
										On the other hand, Dr. Snow was in his apartment when he got the news that Cindy is dead and now the police are searching for him for murdering Cindy. He got scared and decided to leave the city. While he was packing, he heard the sound of a police siren approaching his apartment .<br>
										"Shit! Shit! They're here. I need to escape right now" said Dr. Snow. <br>
										He took all his diaries, put it in a bag, and took all the cash he had with him. Meanwhile, the police arrived at his apartment but he managed to escape from the backdoor and started running.<br>
										-next morning-<br>
										"Kate, the forensic and the autopsy reports of Cindy are here," Jefra said.<br>
										"Anything suspicious? Kate asked.<br>
										"A lot, come with me," Jefra said.<br>
										They went inside Danny's cabin.<br>
										"The blood we found at Cindy's lab is B- but Cindy's blood is A+," Danny said.
										</p>
										<p>
										
										"Also there were some more fresh fingerprints at the site. We found 3 sets of fingerprints there. One of them matched to Cindy's. Believing that the other one was of Dr. Snow, there's one more person we need to look for" Jefra said.
										"We need to find Dr. Snow as soon as possible also look for Cindy's background," Kate said. <br>
										-the telephone rings-<br>
										"Hello, 7th district police station. Who's this?" Kate answered the call.<br>
										"Hello, I called to share some information. There's a man looking exactly like the one in the wanted poster you circulated, the other day" a local man was on the call.<br>
										"Tell me the coordinates," Kate said.<br>
										"51H straight highway, near the bus stop" the man replied.<br>
										"We got the doctor. I guess he's trying to escape" Kate said after hanging up the call.<br>
										They all headed towards the highway with the team to catch Dr. Snow.
										</p>
										<p>
										
										They reached the given coordinates and saw Dr. Snow standing at the red light. They stopped the car about 100m away from him and started walking towards him so that he didn't get suspicious. But before they could get him a high-speed car came out of nowhere and ran over the doctor. <br>
										Kate ran towards the car. <br>
										"POLICE! Stop right there" Kate shouted, pointing her gun at the car. But the driver turned on the engine and drove away. <br>
										"He's is still alive," Jefra said.<br>
										"Call the Ambulance. Right now." Kate shouted. <br>
										They headed to the Hospital. Kate was with Dr. Snow in the back of the Ambulance.  He was trying to tell her something but she couldn't get his broken words. <br>
										They reached the hospital and the doctors took Dr. Snow to the ICU. <br>
										"The situation is getting frustrating now. We have to wait until he wakes up. Also, we have to answer the higher authority for the chaos at the highway" Kate said in frustration.  <br>
										They were waiting in the lobby for Dr. Snow to gain his senses. 
										</p>
										<p>
										
										"Kate, I got a call. James will be joining us in this case" Jefra said. <br>
										"No, not him" Kate exclaimed. <br>
										"I guess God is not in your team Mrs. Winslet," James said. James was standing right behind them listening to all their conversation.  <br>
										"And here he is," Danny said. <br>
										"Yeah! I watch the news, so here I'm" James said. <br>
										"Im going back to the station, Danny. Inform me when Dr. Snow wakes up," Kate said.<br>
										-Kate, James, and Jefra returned to the station-<br>
										"Tell me more about Cindy and the doctor. Did you check both the places properly? What did you find at the doctor's apartment?"James asked. He was curious.<br>
										"There was nothing suspicious there. I think he took all the important files and equipment with him" Kate said.<br>
										"Did you find anything about Cindy?" Kate asked Jefra.<br>
										"Yes I found her mother's address but the thing is it's far away from here. If Cindy lived there it would have been difficult for her to drive here every day.  It's not possible. So where she lived is still a mystery" Jefra answered.
										</p>
										<p>
										
										"Okay then.  Let's go and interrogate her mother" James said.<br>
										"Jefra, you stay here and call me if you get any information from Danny or from the hospital," Kate said.<br>
										They both headed towards Cindy's mother's house.<br>
										"Quite an old house it is," James said.<br>
										"Let's go inside if you are done with judging the house," Kate said. <br>
										They knocked at the door. No one answered. They knocked again. Little harder this time. And they heard some footsteps approaching them from inside the house. About a minute later an old lady opened the door.<br>
										"Yes, what do you want?" the lady asked.<br>
										"Do you know Cindy?" James asked.<br>
										"Yes, she's my daughter. What about her?" the Lady said. She got suspicious.<br>
										"Does she live here with you or she come to visit you once in a while?" James asked.<br>
										"She use to come here once a week. But why are you asking all this?" the lady said.<br>
										"Ma'am, we found a body hanging from a tree in the middle of the forest and we are believing it's Cindy's," James said. 
										</p>
										<p>
										
										"What? She can't be Cindy. My Cindy will never kill herself. She's a brave girl" the lady started sobbing.<br>
										"We're sorry for your loss ma'am. And we believe it's a murder, not a suicide. Was there anything that
										bothered her?" Kate asked.<br>
										"I don't know. I mean she used to spend all her time in the lab. She was so occupied with her work" she replied, wiping her tears. <br>
										"Can we check Cindy's room?" Kate asked.<br>
										"Upstairs," the lady said and started crying.<br>
										Kate stayed there to check on the lady and James went to Cindy's room.
										While investigating the room, James saw a picture of Cindy and Dr. Snow standing in front of the UARO's office. Cindy had a certificate in her hands. The contents of which were not clear. <br>
										James called Kate upstairs to show her that picture. But in the meantime, they heard a banging noise coming from outside the house. They ran towards the door to see what was causing the noise. They went outside and saw that someone broke the mirror and headlights of Kate's car.<br>
										"WTF, who the hell did this?" Kate exclaimed.<br>
										They searched everywhere but couldn't find anyone. So, they left for the hospital.
										</p>
										<p>
										
										Later that day, they were in the hospital and got the news that Dr. Snow is conscious now. They decided to go and talk to him but Dr. Joseph warned them, not to stress out the patient. He might lose his consciousness again.
										"I'll go and interrogate him. You people stay here" James said. The others agreed.<br>
										James entered the room and sat on the chair, besides Dr. Snow. <br>
										"Hello doctor, how are you feeling now?" James asked. <br>
										Dr. Snow didn't answer but he was thrilled to see him. <br>
										"Don't panic doctor. I'm here to help you out" James said softly. <br>
										Dr. Snow didn't respond.<br>
										James took out the photograph which he found in Cindy's room and said, "See what I found" showing him the photograph.<br>
										The fear of the doctor's face was visible now. James thought there is something wrong with the picture. That's why he got scared. He started pressuring the doctor to answer his questions.<br>
										Dr. Joseph came in and saw that the pulse of the patient is fluctuating. It might harm the patient so he told James to leave the patient alone.
										</p>
										<p>
										
										James walked out and saw that the media was here to get the details about the case. The case is a sensation now. Everyone is blaming Dr. Snow for Cindy's murder.<br>
										"The pressure is so high and we have to solve this case as soon as possible" Kate said and left from there.<br>
										Early in the morning, James entered the station and asked Kate to come with him.<br>
										"Where are we going?" Kate asked.<br>
										"Just come. Don't ask any questions. We are going somewhere important" James said. He was in a hurry.<br>
										They left and the car stopped at Cindy's lab.<br>
										"Before you ask anything let me tell you, I need to inspect this place on my own. Can you please give me the keys to the lab?" James said.<br>
										Kate handed over the keys to James and they went inside the lab. James headed towards the washroom in another room saying he had to use it as soon as they entered the lab. Kate got suspicious as James already knew the way to the washroom and it was the first time he came here. 
										</p>
										<p>
										
										Kate started looking for evidence they might have left. She found a drawer. She tried to pull it open but it was locked. So she took out a bobby pin from her hair and opened the lock with it.<br>
										There was a pouch in there. She thought they might have left it there because it was locked inside the drawer. She opened the pouch and found a Pendrive. She kept it inside her pocket and went to another room. She saw James holding a file in there. <br>
										"What is this?" Kate asked. <br>
										"I don't know. I guess you guys missed this one," James said and handed over the file to Kate. He started moving out of the lab but Kate stopped him as she found something in the file. <br>
										"James, look I guess this file belongs to Dr. Snow, but he's named as 'Dr. Sulphur' in here. And see all these photographs, these photographs are from that forest where we found Cindy" Kate exclaimed. <br>
										"Yeah, it's the same spot. I guess we need to interrogate him again, maybe he's the one who killed Cindy," James said.
										</p>
										<p>
										
										They went to the hospital and James asked Kate to stay outside as he wanted to handle this on his own.  <br>
										James entered the room. Dr. Joseph along with two nurses was present there. They were taking Dr. Snow's vitals. He asked them to leave. <br>
										"Sulphur, I'm not here for small talks. Just tell me where's the formula of cloning?" James said.  <br>
										Dr. Snow moved his hand towards the emergency button to call out for help but James held his hand and said,
										"See, I know who you are and whom you are working for. And trust me Mr. Williams is a good man. He just needs the formula and he'll set you free. Just give me the formula. If you don't do so you'll have to pay the price of your silence." <br>
										"I don't have the formula. It is with Cindy and she is dead. She killed herself just because of you guys" Doctor tried to speak. <br>
										"Listen, I checked your dairy. Only half of the formula was mentioned there. Tell me where's the other half" James said. He was furious. <br>
										"I have nothing to tell. And if I had the formula I would never give it to you. I'll prefer to die. I know about you and your organization, UARO. I know what they are doing and what they're up to" Doctor said. <br> 
										"You're going to pay for it," James said and left.
										</p>
										<p>
										
										James walked out of the room and said Kate to call the media. He told her that they found the killer and he'll reveal the name in front of the media.<br>
										<br>
										Every media house was present there willing to know who's the murderer.
										James said, representing the media, "the killer is Dr. Snow. We found a file in Cindy's lab, which belonged to Dr. Snow. We believe that they're working on some projects together. Inside the file, we found some photographs of the same spot where Cindy's body was found hanging. There were other test reports in there, done on Cindy. We're believing that he was trying to do some experiment on Cindy. The experiment failed which cost him Cindy's life. To get rid of the charges he took her body to the woods and hanged it there, making it look like a suicide. The case is closed. <br>
										I'm thankful to my entire team for their hard work. And I'll like to give all the credits to inspector Kate Winslet. She's the one who solved this case. A round of applause for her" and started clapping. Everyone present there clapped for her. <br>
										</p>
										<p>
										
										Kate was shocked. She couldn't get it, why was he giving her the credits. He was the one who solved the case. Also what happened in the room between Dr. Snow and James. She walked towards James to clear out her doubts but the senior officer called her to sign all the papers and close the case so that they can take the doctor into custody. <br>
										Kate went back to her home after completing all the paperwork. She started thinking about everything that happened today. In the morning she didn't think that today they'll catch the murderer and that too so easily. She was not satisfied with her work. <br>
										She put her hand in her pocket to get her phone. She felt there's something else in her pocket. She took it out. It was the Pendrive she found in Cindy's lab. <br>
										She switched on her laptop and put the Pendrive in. It contained an image and a video recording. <br>
										She played the video.<br>
										It started with a big logo of UARO. She goes to know that UARO is not a government organization while watching the video. It's a private organization owned by Mr. Williams. And they are working on biological weapons and other kinds of shady stuff. Also 6 months back UARO killed his two employees, Alex and Jack. Cindy and Dr. Sulphur are the members of UARO.
										</p>
										<p>
										
										She was in shock. She was interrupted by a noise. She thought that someone is trying to enter the house from the backdoor. She took her gun and went towards the door.  <br>
										"It's the police. Whosoever is out there stop right there. You're going to make a big mistake" Kate said and turned on the light. <br>
										"You've something that belongs to me" the voice came from another side of the door. <br>
										Kate opened the door pointing her gun at the person. She was shocked to know that it was Cindy, standing at her door. <br>
										"It can't be true. Cindy, you were dead," Kate was horrified.  <br>
										Move back and tell me who you're?" Kate asked, pointing her gun towards Cindy. <br>
										"I'm Cindy. I can explain everything. But you have something that belongs to me. That Pendrive is so important to me. I need it back" Cindy said. She was in a hurry. <br>
										"Cindy is dead. Tell me who the hell you are otherwise I will shoot you" Kate shouted.
										</p>
										<p>
										
										"I know this is horrifying but let me explain. <br>
										See I'm the real Cindy, and the one you found in the woods is my clone. I and Dr. Sulphur made a machine to create a perfect clone. But Mr. Williams found out about our experiment and he wanted to take the formula from us. So that he can make clones of every powerful person of the country like the ministers, president, businessmen, and replace them with the real ones. In this way, he can make them function just the way he wants and he'll become the most powerful person in the country. <br>
										That's why we made this plan. My fake execution by Dr. Sulphur. The doctor was supposed to go underground for a few months to save himself from murder charges. But you guys jumped in the middle and ruined our plan" Cindy explained. <br>
										"So all this fuss was for nothing? And who was the guy in the car that hit Dr. Snow I mean Dr. Sulphur?" Kate was curious. 
										</p>
										<p>
										
										"I don't know who it was. That was not in our plan. But I must tell you. Your colleague, inspector James is also involved in all this. He works for Mr. Williams." Cindy said. <br>
										"That's why he already knew the way to the washroom at your lab. I got it now. But we found 3 fingerprints in there. Two of them matched with yours and Dr. Snow's fingerprints. What about the third one. Who else is working with you guys?" Kate asked. <br>
										"It's Alex's. Now give me the Pendrive. I can't be seen roaming around here. I'm on run" Cindy was in a hurry. <br>
										"There it is" Kate pointing towards her laptop. <br>
										 Cindy went near the laptop. She closed the window and deleted both the photo and the video from the Pendrive. <br>
										"Now the formula is gone. It's only in my brain now. And I'm sorry about your car. I was just trying to get the keys to my lab so that I can go and take the Pendrive. But you guys came out and I didn't want James to know that I was there. Also, you arrested the wrong person. Dr. Sulphur is not guilty" Cindy said and left. <br>
										</p>
										<p>
										Postscript: <br>
										Alex arrives at Cindy's lab and asked for the thing she had for him. Cindy gave him the address of his spaceship.</p>
								</div>
							</section>

					</div>

				<!-- Three -->
				<section id="three">
					<div class="inner">
						<!--<header class="major">
							<h2>Massa libero</h2>
						</header>
						<p>Nulle lorem</p>-->
						<ul class="actions">
							<li><a href="../FewPages.html" class="button next">Back</a></li>
						</ul>

						<ul class="actions">
							<li><a href="thewanderer.html" class="button next">Next Story</a></li>
						</ul>
						<!--Random button to explor-->
						<ul class="actions">
							<script>
								var sites = [
								                'meaningless.html',
												'acctodiaries.html',
												'cloning.html',
												'thewanderer.html',
												'thediaries.html',
												'areulistning.html',
								];
							
								function randomSite() {
									var i = parseInt(Math.random() * sites.length);
									
									location.href = sites[i];
								}
							</script>
							<li><a href="#" onclick="randomSite();" class="button next">Random Explor</a></li>
							</ul>
							<ul class="action">
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>	
						    </ul>

					</div>
				</section>
			  </div>

				<!--Footer
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>-->

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>