<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="../images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<head>
		<title>Filling The Gaps</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="../index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="../index.html">Home</a></li>
							<li><a href="../FirstDraft.html">First Draft</a></li>
							<li><a href="../FewPages.html">Few Pages</a></li>
							<li><a href="../Aboutus.html">About Us</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit">Instagram</a></li>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Filling The Gaps</h1>
									</header>
									<span class="image main"><img src="../images/pic11.jpg" alt="" /></span>
									<p>I saw a girl in the bar. She was wearing a black dress, which really suited her. I just wanted to start a conversation with her so I thought of asking her for a drink. But nah I dropped the idea because she is damn beautiful and I'm an average-looking guy. Then on the very next moment, I saw her walking towards me. So I collected all my guts and asked her, "Excuse me miss beautiful, can I buy your drink?" And she said yes.<br>
                                        "So, what's your name?" she asked.<br>
                                        "Arun, and yours?" I replied<br>
                                        "Yashika. And the drinks are here," she said.<br>
                                        After having 3-4 drinks
                                        "It's too late. I think I should leave now," she said.<br>
                                        It's the only chance to go with her and get to know her more. I cannot miss this.<br>
                                        "Can I drop you? If you don't mind." I asked.<br>
                                        "No, it's all okay. I can go on my own."<br>
                                        "But I'm also going in the same direction"<br>
                                        "And what is that direction?"<br>
                                        I'm blank. I've nothing to tell her because I don't know the answer.
                                        "Okay let's go I'm getting late," she said.<br>
                                        We are in the car listening to the radio and I noticed the stress on her beautiful face.<br>
                                        So out of curiosity, I asked, "Is anything bothering you? You look depressed. If you're comfortable feel free to share it with me. Be it anything."<br>
                                        She said, "Nothing much. It's just something that is not okay with me I guess. I always feel low and lonely even after having friends around me."<br>
                                        "Are you still feeling lonely?" I asked.<br>
                                        "I don't know it's a thing. I don't know. Sorry." She replied.<br>
                                        "It's okay. Don't be sorry. It's all okay. I too feel lonely in the same way." I said.<br>
                                        "Are you trying to make me comfortable by saying all these things?" she asked.<br>
                                        "Umm.. I don't know if you feel so then yes. I mean I can feel your pain. I've been there."<br>
                                        "So here you go. We are at your destination." I said<br>
                                        "Thank you for dropping me home. Wanna come in for a coffee?"<br>
                                        "No, I'll be fine. Thank you for asking." I said.<br>
                                        She is about to leave.<br>
                                        "I can help you if you want to, in filling your voids, making you feel happy because I know the pain of loneliness and the happiness to have someone around you," I said.<br>
                                        And all of sudden she kissed me.
                                        Her kiss and her touch were so sensual. Maybe it was the drink we had or we needed each other to fill the gaps in our hearts. She is all over me. I pulled the seatback. My fingers are running inside her hair. I pulled her from her vest towards me. I started kissing her neck and unzipped her black dress. I plant a soft kiss on her chest.<br>
                                        She pulled off my shirt and started kissing me all over. I grabbed her wrist softly and pushed her on the other side of the seat. We started undoing each other. We kissed each other. The soft tender kiss.
                                        The very next moment I'm inside her. She moans and digs her fingers inside my back. She calls my name. <br>
                                        "I want to have a part in your life and always be there for you. I want to fill all the lonely spaces of your life" I said.<br>
                                        "Me too." She replied. </p>
                                    </div>
							</section>

					</div>

				<!-- Three -->
				<section id="three">
					<div class="inner">
						<!--<header class="major">
							<h2>Massa libero</h2>
						</header>
						<p>Nulle lorem</p>-->
						<ul class="actions">
							<li><a href="../FewPages.html" class="button next">Back</a></li>
						</ul>

						<ul class="actions">
							<li><a href="longlostlove.html" class="button next">Next Story</a></li>
						</ul>
						<!--Random button to explor-->
						<ul class="actions">
							<script>
								var sites = [
								'meaningless.html',
												'acctodiaries.html',
												'cloning.html',
												'thewanderer.html',
												'thediaries.html',
												'areulistning.html',
								];
							
								function randomSite() {
									var i = parseInt(Math.random() * sites.length);
								
									location.href = sites[i];
								}
							</script>
							<li><a href="#" onclick="randomSite();" class="button next">Random Explor</a></li>
							</ul>
							<ul class="action">
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>	
						    </ul>

					</div>
				</section>
			  </div>

				<!--Footer
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>-->

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>