<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="../images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<head>
		<title>Long Lost Love</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="../index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="../index.html">Home</a></li>
							<li><a href="../FirstDraft.html">First Draft</a></li>
							<li><a href="../FewPages.html">Few Pages</a></li>
							<li><a href="../Aboutus.html">About Us</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit">Instagram</a></li>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Long Lost Love</h1>
									</header>
									<span class="image main"><img src="../images/pic11.jpg" alt="" /></span>
									<p>I don't know why I'm this dumb. I was in so hurry that I forgot my wallet at home. Now it's 12 o'clock in the night and I don't have a single penny in my pockets. But thanks to my Paytm wallet, at least I can afford a ride to my home but in a shared cab. I booked one. And I'm hoping that the co-passenger is not some annoying idiot. But my destiny had different plans for me.
                                    </p>
                                    <p>
                                    The cab arrived. I got into it. And the first thing I saw was my ex sitting next to me. It's been 10 years we haven't seen each other. We both were in shock. I thought of canceling the ride and book another one but there was no luck of getting another shared cab on this route. Also, I was getting late so I decided to take it. I can manage traveling with my ex. All I've to do is, ignore her just the way she is doing. We acted like complete strangers. 
                                    There was pin-drop silence in the cab. I can even hear my own heartbeats. I wanted to break the silence. I wanted to say hello. I wanted to know how she's doing. I wanted to know what's up with her. But ego wins. After all, it was not me who decided for a break-up.
                                    Moments later the cab driver played a song. A song with history. It used to be our favorite song. I wonder she still likes it. I guess she does because she's singing along, "jab koi baat bigad Jaye..."
                                    </p>
                                    <p>
                                    
                                    "Still your favorite song?" I asked.<br>
                                    "Yes, you can say that," She said and that was rude. Why I even say a single word to her. <br>
                                    "Ahem! BTW how are you?" she asked. <br>
                                    "I'm good," I said. I sensed some stress in her voice. So I asked, "Are you okay, Shruti?"<br>
                                    "Yeah! I'm fine," again rudely.<br>
                                    What the hell is wrong with her? I know she's facing some problem yet she have to show all these tantrums. She'll never change. So I decided to leave her alone.<br>
                                    "How much time will it take to reach?," Shruti asked to the cab driver.<br>
                                    "About an hour ma'am," the cab driver said.<br>
                                    "An hour? I've to reach there ASAP," she freaked out.<br>
                                    "Is it that important?," I asked. And that was the dumbest question I've ever asked. Of course, it's important, you idiot.<br>
                                    "Yes, it's really important because.....," she stopped in the middle.<br>
                                    She wanted to say something but the awkwardness between us stopped her. We had a past. She's my ex. And we're meeting each other after a decade. Obviously, it's awkward.<br>
                                    I went for another subject and started talking about our school days. It worked. The joy in her voice said that she is fine now. Although something is still bothering her and I want to know what it is. I don't know why but I really want to know.
                                    </p>
                                    <p>
                                    
                                    "You remember, once we were late for our Chemistry class and we decided to bunk the class and then we got caught by our sports teacher," I said.<br>
                                    "Yeah! And we were not even good friends at that time," she said.<br>
                                    "Yup and then it all began. We started spending lots of time together," I said.<br>
                                    "I started trusting you and you understood me so well," she said. There was a little grin on her face. I think she's comfortable now. Now I can ask her what's bothering her.<br>
                                    "Are you okay Shruti?," I asked. I know she'll say 'Everything is fine. Thanks for asking'. This used to be her all time favourite answer whenever I asked anything like this since school time. But she's is a different person now.<br>
                                    "I know you are trying to make me feel better, so stop doing this," she said and started sobbing.<br>
                                    "Please don't cry, I'm so sorry. I didn't mean to hurt you. I just wanted to know what's wrong with you? Why are you so worried? That's all. I'm sorry Shruti," I said.<br>
                                    It broke my heart, watching her in tears. It was all my fault. I shouldn't have asked her anything. Already she is dealing with some serious problem and I made her cry.<br>
                                    "Everything is gone. I lost everything," she murmured<br>
                                    "Are you into gambling or something?," I joked. Not the right time you idiot.
                                    </p>
                                    <p>
                                    
                                    "Not the right time I guess. I'm sorry. What actually happened? Just tell me I'll fix it," I said.<br>
                                    "Screw you!," she said.<br>
                                    Ofcourse this one was for the gambling thing but then she shared the real problem with me.<br>
                                    "Actually 7 months back my family fixed my marriage with Tarun. Tarun was so controlling. He made my life hell. I used to follow his orders. Also he had an affair with a girl in his office. So we got divorced. My family is not accepting me and now I've nowhere to live. For last 2 days I stayed with my friend in her pg. But now her landlord is not allowing that. So I had to move and the only place I found to stay would be closed by 12:30. Fuck Tarun. Fuck my life," she yelled.<br>
                                    "Calm down Shruti, calm down," I said.<br>
                                    "Ma'am, your destination is here," the cab driver said.<br>
                                    "Thank you so very much and thanks to you too Aarav for your support. I'm already 15 mins late. I'll catch you later. Bye," she said and left.<br>
                                    I know she's not going to make it today because she is late and the rules here are strict. So I too got off the cab and waited for her outside the main entrance of the building.<br>
                                    After 20 minutes she's here. All mad and pissed. She saw me and poured all her anger on me, "You're still here? Don't you have to go to your home and rest? Or you too have no place to live like me?"<br>
                                    </p>
                                    <p>
                                    
                                    "Actually I live 3 blocks away from here and I knew you won't be getting a room here at this time. Also, before leaving, you said 'catch you later' but you forgot to take my address or phone number so I'm here for that," I said.
                                    Why am I doing all this? Acting so dumb. Why do I care for her so much? Do I still have feelings for her? Am I still in love with her?
                                    No, it's just that I'm kind and can't leave a girl alone at this time of the night. I should have done it for any other girl.<br>
                                    She said nothing.<br>
                                    "I guess you have no place to live tonight so what's next?," I said.
                                    Again nothing.<br>
                                    "If you don't mind you can come with me at my place or spend your night here, under this tree," I suggested.<br>
                                    This must be sounding wrong to her. But it's the best I can do. It's not safe for her here.<br>
                                    "Listen, I don't wanna trouble you anymore. I've wasted loads of your time today and in the past as well. So leave me alone. I'll be fine," she said.<br>
                                    "Leave those leafs Shruti. It's not safe for you here. Just come to my place for tonight and take some rest. You look tired. If you're not comfortable you can leave by tomorrow morning. Please. I insist else I'll stay here with you all night long," I said.<br>
                                    She couldn't resist me.<br>
                                    </p>
                                    <p>
                                    
                                    We walked towards my house. I saved her from a tiny dog on the way. She still has fear of dogs. Such a kiddo she is.<br>
                                    We reached home, "So this is my house, make yourself comfortable, I will get some water for you," I said and walked towards the kitchen.<br>
                                    When I came back I saw her standing in the balcony and wiping off her tears. I wanted to give her some alone time but I couldn't resist myself from going to her after knowing that she's sad. I went in the balcony with a bottle of wine and two glasses in my hand.<br>
                                    "Here you go. It will help you feel better," I said.<br>
                                    "How do you know that this will help me to get out of all these situations," she said.<br>
                                    "First of all you look like a baby when you cry and secondly I know it will help because it has helped me to get over you when you...," I paused in the middle of the sentence.<br>
                                    "When you?," she asked.<br>
                                    "You wanna listen to some music?," I said and went to turn on the music system.<br>
                                    We sat on the couch and drank wine.<br>
                                    We started recalling all the good memories. How we used to bunk the school, meeting each other's parents in the PTM all the happy memories. It made her laugh and I felt so good, knowing that I'm the reason behind it. I actually lived my school life again. It was a nostalgic feeling.
                                    </p>
                                    <p>
                                    
                                    We're hungry so we decided to order some food. I was searching for some north Indian food to order. Then there was a knock on the door. It's late. 
                                    "I'll take it, till then you have a look on the menu and see what you want to eat," I gave her my phone and rushed towards the door.<br>
                                    When I came back I saw her going through my phone's gallery where she found some photos of us together. That's a really bad habit Shruti.<br>
                                    "Why didn't you delete all these photos?" she asked, surprisingly.<br>
                                    I sat next to her and said, "actually I rarely use my phone's gallery and camera. I really didn't know they are there."<br>
                                    "These are decade-old photos. Don't tell me you haven't changed your phone since then," she scolded.<br>
                                    I don't have an answer. I'm blank. I too don't know, why all these photos are still there.<br>
                                    Before I could process to say something she kissed me. I wanted to resist but I kissed her back. We kissed like we have never kissed before. We kissed forever. *Then she pushed me back to the couch and took me to the bedroom by hand.*<br>
                                    </p>
                                    <p>
                                    
                                    I was standing still in the bedroom not knowing what's gonna happen next. She shut the door and came to me for a kiss. I held her in my arms and kissed her hard. She slowly pushed me on my back, half lying on the bed. And next moment she is on top of me, unbuttoning my shirt and kissing all over my body.<br>
                                    "I need all of you," she gasped.<br>
                                    "Take me," I said and flipped her on the bed, making her lay next to me. I started undoing her. She was all naked and bare. Her skin felt so soft on mine. I plant a soft kiss on her lips. And slowly slid myself into her.<br>
                                    "Ohhhhhh." was all she could manage to mutter out as I just lay inside her for a moment not moving at all. We made love. We were like two bodies molded into one. It felt so good. It felt like she never left, like she was  always there. I felt complete.<br>
                                    After it all was over we just cuddled. I held her really close to me. I kissed her forehead and said, "I love you Shruti." She smiled.<br>
                                    </p>
                                    <p>
                                    
                                    Next morning when I woke up, she was not in the bed. I went to look after her but she was nowhere to be found. I saw a letter laying on the table. It was from her.<br>
                                    "I'm sorry Aarav for leaving like this. I don't know how to face you after everything that happened last night. You were so nice to me. You have always been nice to me. Even after all the history, we had. I don't want to spoil your life again as I did in the past. I left you hanging in the relationship and you're still supporting me. I really appreciate that. It was so generous of you. And I don't want you to suffer anymore because of me. You've already done a lot for me. <br>
                                    Thanks for being there with me in my hard time. And sorry for all the trouble. But now I have to fight my own battles with my own hands.
                                    Love, Shruti."<br></p>
								</div>
							</section>

					</div>

				<!-- Three -->
				<section id="three">
					<div class="inner">
						<!--<header class="major">
							<h2>Massa libero</h2>
						</header>
						<p>Nulle lorem</p>-->
						<ul class="actions">
							<li><a href="../FewPages.html" class="button next">Back</a></li>
						</ul>

						<ul class="actions">
							<li><a href="areulistning.html" class="button next">Next Story</a></li>
						</ul>
						<!--Random button to explor-->
						<ul class="actions">
							<script>
								var sites = [
								'meaningless.html',
												'acctodiaries.html',
												'cloning.html',
												'thewanderer.html',
												'thediaries.html',
												'areulistning.html',
								];
							
								function randomSite() {
									var i = parseInt(Math.random() * sites.length);
									
									location.href = sites[i];
								}
							</script>
							<li><a href="#" onclick="randomSite();" class="button next">Random Explor</a></li>
							</ul>
							<ul class="action">
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>	
						    </ul>

					</div>
				</section>
			  </div>

				<!--Footer
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>-->

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>