<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="../images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<head>
		<title>Perfection In Imperfection</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="../index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="../index.html">Home</a></li>
							<li><a href="../FirstDraft.html">First Draft</a></li>
							<li><a href="../FewPages.html">Few Pages</a></li>
							<li><a href="../Aboutus.html">About Us</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit">Instagram</a></li>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Perfection In Imperfection</h1>
									</header>
									<span class="image main"><img src="../images/pic11.jpg" alt="" /></span>
									<p>
                                        Guys! Is it important to be perfect? 
                                        Here I'm standing alone because I'm a mess. A person who don't want to follow the rules of the world. A person who doesn't want to be perfect.
                                        As I was not perfect I accepted my fate of being alone until I met her.<br>
                                        30th August 2013.<br>
                                        As usual, I logged in to my FB's account. Everyone's having fun, enjoying the parties lately.
                                        Rohan has uploaded his birthday celebration pictures in which I was not invited. I went through his pictures and the people he had tagged. I don't know why I was doing this. Maybe I wanted to have a life he's living. I found a girl named "Sakshi".<br>
                                        "Ahh! no DP? A mysterious girl."<br>
                                        *click*<br>
                                        "Oh shit! I sent her friend request." Before I cancel the friend request, she accepted it.<br>
                                    </p> 
                                    <p>   
                                        
                                        
                                        "Shit! she might be thinking that I'm a jerk. Why I did this? Okay, let's just message her that I don't know you and the request was an accident."<br>
                                        "Hey, do you know me?" a message from her.<br>
                                        "Umm.. actually I mistakenly clicked the 'Add friend' button. The request was a mistake. Sorry for that." I replied<br>
                                        "Oh! It's completely okay. Don't be sorry about it. We are not born to be perfect, all humans make mistakes." <br>
                                        These words from her made me feel different. You might think I'm a weirdo but my brain stopped for a while. I could hear music playing in my head.<br>
                                        
                                    </p> 
                                    <p>  
                                        
                                        Okay Raghav, don't get so excited, and let's continue.<br>
                                        "So you've got a good sense of humor but let me tell you, funny is all I have," I replied.<br>
                                        "I'd love to hear some of your jokes and get a stomach ache probably," she replied<br>
                                        "So the joke is I'm perfect, perfect as everyone wants." <br>
                                        "Hahahaha.. nice try but no one is perfect."<br>
                                        "But you are, I guess."<br>
                                        "Okay, so this one is definitely a joke because I'm a mess. A complete mess."<br>
                                        "See I told you, funny is all I have."<br>
                                        "Cool then. TTYL. Have to go."<br>
                                        "Oh! BTW you are from?"<br>
                                        "We are from the same college. Bye now."<br>
                                        She knows me. Seriously!<br>
                                        I guess this was the best mistake of my life. It's better not to be perfect.<br>
                                        
                                    </p> 
                                    <p>  
                                        
                                        *Next day in the college canteen*<br>
                                        "Mr. Raghav!" someone called my name. A girly voice. I turned back and yes, there was a girl calling out my name. I waved at her and started walking towards her.<br>
                                        "Hey Raghav! How are you?" she asked.<br>
                                        "Sorry. I didn't recognize you!" I replied.<br>
                                        "Well, Mr. Perfect you have a week memory," she said.<br>
                                        "Sakshi! Right?" I said.<br>
                                        "Yes, by the way, are you ignoring me?" she said jokingly.<br>
                                        "I've never met you before. There isn't any picture of you on your Facebook account. I don't know how you look. So how can I recognize you Sakshi?" I said hurriedly justifying myself.<br>
                                        "Calm down mister. I was kidding. So now you know me nah?" She said. <br>
                                        "Yes, the most beautiful girl on the planet." <br>
                                        "Funny!" She blushed.<br>
                                        "If you're not busy can we go and grab something to eat because I'm starving right now," she said.<br>
                                        "Same there," I replied.<br>
                                        
                                    </p> 
                                    <p>  
                                        
                                        We ordered a masala dosa and two chocolate shakes.<br>
                                        "So, no company with you?" I asked.<br>
                                        "Yeah! I came alone. By the way, why so curious? You wanna meet my friends." she said.<br>
                                        "No, no... I just asked in a general way," I replied.<br>
                                        "Hahaha.. Look at your face. You look funny when you're afraid," she said.<br>
                                        And that dammed smile. That sweet giggle of hers was the most beautiful thing I've ever heard.<br>
                                        "Oh hello mister, stop dreaming and get back to the real world." She snapped her fingers at me.<br>
                                        "Nothing, I just remembered about the project work I have to do," I said.<br>
                                        "Oh shit! I literally forgot about mine. Okay bye. Got to go. See you later." she said and left.<br>
                                        I wanted to her stop, to talk to her, to make her laugh, to see her smile but instead, I said, "Okay, see you later."<br>
                                        
                                    </p> 
                                    <p>  
                                        
                                        She was wearing a simple ethnic dress when I saw her in the library and I realized how beautiful she is.<br>
                                        "Hello there, what are you doing in the library?" I asked.<br>
                                        "Oh hi! Ummm.. actually I was searching for some companions for the trip." She said.<br>
                                        "Oh! Trip?" I asked surprisingly.<br>
                                        "The Educational trip, related to my project I told you about," she said.<br>
                                        "You never told me anything about any of your projects lately. Just you mentioned about one in our last meeting." I said.<br>
                                        "Hey, let's do one thing, come with me on the trip and you will get to know about the project and I'll get a companion. Maybe this will help you with your project too," she said.<br>
                                        "Actually I'm quite busy also I don't know whether my parents are okay with it or not," I replied. <br>
                                        "Please don't say no. None of my friends are coming. I'll be alone. Please come with me." she said in her cute pleading tone.<br>
                                        "First tell me where are we going and when?" I asked.<br>
                                        "I'll text you the location and we are leaving tomorrow morning," she said.<br>
                                        "Okay! I won't disappoint you." I said.<br>
                                    </p> 
                                    <p>  
                                        
                                        
                                        So there's a thing with me, whenever I'm in hurry and want to reach somewhere early I always end up getting late for it. It's just with me or you too have experienced this? Yes, I'm late for the bus.<br>
                                        "You are late. Damn late," she said angrily.<br>
                                        "Sorry, actually I forgot to set the alarm. By the way, you are looking beautiful." I said, trying to woo her.<br>
                                        "Stop playing these cards. You're lucky that the bus is late too. Otherwise, I was not going to wait for you also this might would have ended our friendship as well." she said all in anger. The cuteness level is at the peak when she's angry.<br>
                                    </p> 
                                    <p>   
                                        
                                        In a while, the bus arrived but she is still not talking to me. Like a girl is angry with his boy. I was enjoying it. <br>
                                        She took a window seat and started looking outside the window. I sat down in the seat next to her. I had to do something to make her happy. I took the guitar which was lying on the seat beside us and started singing. That was a weird moment for me as well because I've never sung a song for anyone and the guitar made it more awkward. <br>
                                        "Koi haseena jab ruth jati hai toh..." I sang in my loud brittle voice. Before I complete my song I heard her sweet giggles. She was all pink and laughing. Mission accomplished.<br>
                                        
                                    </p> 
                                    <p>   
                                        
                                        Wait! Wait! Wait! You're done now, Mr. Raghav. Let me tell them my part of the story. Let them know what I experienced and what was going through my mind. They want to hear the story from my side as well. Right?<br>
                                        Hello everyone! I'm Sakshi. You already know me so skipping the introduction part. Let me take you on the roller coaster ride of my feelings. The jealousy, the love, the care, the hate, the anger, that I experienced on the trip. All at once. That too for someone who is your friend and you've known him just for two days. Rare right? But as it is said, "Love makes you insane" I too was getting insane for him.<br>
                                    </p> 
                                    <p>  
                                        
                                        
                                        "Raghav, let's go we are late for the meeting," I said.<br>
                                        "You go ahead, I'll be there in a couple of minutes," he said checking something in his laptop.<br>
                                        "Fine. I'm going. Don't be late." I said and left.<br>
                                        The meeting was about the distribution of the team in pairs. And the shit happened. Now I regret why I left him there? We end up pairing with others. Just because he was late. <br>
                                        "This is all because of you Raghav! Why are you always late? Only if you could come on time we might have been paired." I said in anger.
                                        "What's wrong with you Sakshi? I guess the matter of concern should be the project, not us being together." he was surprised by the anger in my tone.
                                        "I don't care about the project, I'm here too...." I couldn't complete the sentence.<br>
                                        "Leave it. Bye!" I said and walked away from him towards the tent.
                                        I skipped the dinner, seeking his attention. Of course, I'm angry and he should come and talk to me. The least he can do.<br>
                                        "Hey Sakshi, you there?" Raghav said. He was standing outside my tent.
                                        "Get lost Raghav! I'm not in a mood to talk." I lied. I was waiting eagerly for this moment.<br>
                                        "I'm coming in," he said.<br>
                                        
                                    </p> 
                                    <p>  
                                        
                                        He is inside the tent. He hadn't spoken a single word, just continued staring at me. I'm so intimidated by his presence right now. <br>
                                        "See Raghav, this is not gonna work on me. Okay!" I said breaking the silence. 
                                        "Listen Sakshi! I know you invited me to the trip so that we could spend some together. And I'm sorry I couldn't give you much time." he said and came a little closer to me.<br>
                                        At that moment I don't know what I was high on. Maybe the hormones. I couldn't resist myself and I kissed him. A soft peck on his lips.<br>
                                        At first, he was in shock with what just happened but after a while, he took my face in his palms and kissed me back. The kiss is so intense I could feel the world around us dissolve. We kissed so hard. Soon his fingers were tugging inside my back, I held him closer to me and we never stopped kissing.
                                        All of a sudden Raghav stepped back, releasing himself from my embrace. We both were embarrassed by what we just did. Raghav didn't speak to work and left.<br>
                                        
                                    </p> 
                                    <p>  
                                        
                                        " Raghav! Listen to me Raghav!" I called out to stop him but he didn't listen to me and ran away.<br>
                                        "Shit! I made the biggest mistake of my life. What should I do now?" I said to myself.<br>
                                        *The project day*<br>
                                        The next day we were divided into pairs. I was paired with Shivani. He had to do the project with Saumya. She was hovering like a butterfly around him. Bitch<br>
                                        "Hey Sakshi, where's your mind? Concentrate on the project." Shivani snapped her fingers at me. <br>
                                        "I'm concentrating Shivani," I said.<br>
                                        "I know what you're concentrating on. You're jealous of Raghav and Saumya nah?" she said.<br>
                                        "Huh? No! Why would I be jealous of them? They are just doing their project." I said hiding my embarrassment.<br>
                                        
                                    </p> 
                                    <p>
                                        
                                        "See Sakshi, I know what is going on with you two. In fact, everyone knows. You should go and talk to him about your feelings. There's no use of getting jealous. It won't change anything." she said.<br>
                                        "Feelings? What feelings? What are you talking about? I don't have any feelings for him. And I'm not jealous of anyone. Concentrate on the project." I said and went back to the project. <br>
                                        "Stop being so dramatic and talk to him," she said strictly.<br>
                                        "But I guess he is mad at me and he doesn't wanna talk because..." and I told her everything that happened between us.<br>
                                        "Damn! That's huge. Okay listen, do one thing after this project asks him for a walk and take him to the riverside. Tell him about your feelings and leave everything on god." she suggested.<br>
                                        "Okay! I will." I said.<br>
                                        
                                    </p> 
                                    <p>  
                                        
                                        It was hard for me to talk to him, so I decided to write it on a chit and give it to him. "We need to talk. Meet me at the riverside. Right now." I wrote and instead of giving it to him, I threw it to him. I couldn't even wait to see his response. I was so scared about it. I left.
                                        I was waiting for him near the bank of the river. 15 minutes passed and he's still not there. But as we all know he's always late. He came and sat beside me. I could hear our heartbeats. None of us spoke a single word. The silence made it more uncomfortable. 
                                        But I had to express my feelings to him.<br>
                                        
                                    </p> 
                                    <p> 
                                        
                                        So I said, "Raghav I'm sorry. Sorry for everything, but I..." and I was out of words because I'm afraid of losing him.<br>
                                        "I'm also sorry Sakshi. But I love you and I'm sorry for what happened last night. Sorry, I left you alone. I just didn't want us to end up having casual sex. You're more than a hook-up to me. I didn't want it to end like that. I can't take the risk of losing you. I know I'm not worthy enough to have you because I'm not perfect but I love you." he said expressing all his feelings without taking a breathe. <br>
                                        "I love you too Raghav. I don't know why but I do and this is not about being worthy for each other. Everyone's imperfect. And I'm in love with your imperfection." I said and he hugged me with the intension of never letting me go. </p>
								    </p> 
								</div>
							</section>

					</div>

				<!-- Three -->
				<section id="three">
					<div class="inner">
						<!--<header class="major">
							<h2>Massa libero</h2>
						</header>
						<p>Nulle lorem</p>-->
						<ul class="actions">
							<li><a href="../FewPages.html" class="button next">Back</a></li>
						</ul>

						<ul class="actions">
							<li><a href="meaningless.html" class="button next">Next Story</a></li>
						</ul>
						<!--Random button to explor-->
						<ul class="actions">
							<script>
								var sites = [
                                'meaningless.html',
												'acctodiaries.html',
												'cloning.html',
												'thewanderer.html',
												'thediaries.html',
												'areulistning.html',
								];
							
								function randomSite() {
									var i = parseInt(Math.random() * sites.length);
									
									location.href = sites[i];
								}
							</script>
							<li><a href="#" onclick="randomSite();" class="button next">Random Explor</a></li>
							</ul>
							<ul class="action">
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>	
						    </ul>

					</div>
				</section>
			  </div>

				<!--Footer
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>-->

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>