<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="../images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<head>
		<title>The Diaries</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="../index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="../index.html">Home</a></li>
							<li><a href="../FirstDraft.html">First Draft</a></li>
							<li><a href="../FewPages.html">Few Pages</a></li>
							<li><a href="../Aboutus.html">About Us</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit">Instagram</a></li>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>The Diary</h1>
									</header>
									<span class="image main"><img src="../images/pic11.jpg" alt="" /></span>
									<p>
                                        -a breezy winter night of 1986-<br> 
                                        <br>
                                        Elena brought a baby girl to her orphanage and told the nurse to check her vitals. The nurse took the baby.
                                        "She looks cute and innocent. How can anyone do this to her?" the nurse said
                                        "If that were the criteria for keeping a baby then there was no need for an orphanage because all the babies here are cute. I don't know why people make babies when they don't want to keep them," Elena was furious.
                                        Days went by and the baby kept growing. Every child of the orphanage got adopted except for her. The children that came to the orphanage after her also got adopted but no one adopted her.<br>
                                        <br>
                                        -the year 2004-<br>
                                        <br>
                                        It was her 18th birthday. She's all grown now. She had little hope that she might get adopted today then she too will have a family. She can get out of the orphanage and explore the world.
                                    </p>   
                                    <p>    
                                        She wore her favorite dress in which she looked pretty. She kept waiting all day long, but no one came. Not even to talk to her. In fact, that day none of the children got adopted. That had never happened since the day she was brought to the orphanage.
                                        It broke her down and gave birth to the feeling of self-doubt in her. She thought maybe she's not supposed to have a family or she doesn't deserve to be loved by anyone.
                                        As the days passed, she started isolating herself from others. She won't talk to anyone and stay in her bed all day long. She preferred being alone.
                                        Seeing her condition, Elena the owner of the orphanage offered her a job at the orphanage. This way, she can keep herself busy and away from all the negative thoughts birthing in her mind. With no self-confidence left, she said yes to it and started working in the orphanage. Along with other cleaning work, she was appointed to take care of those children who feel low and disconnected, just like her. 
                                        <br>
                                        But the people already working there were not so pleased with Elena's decision. They wanted the girl to leave the orphanage. 
                                    </p>
                                    <p>    
                                        One fine morning the girl took a mop and started cleaning the hall. Kim, a co-worker of hers, saw her work, and out of jealousy put lots of mud on the other side of the hall. The girl saw Kim doing that but she didn't respond and continued doing her work.
                                        A little boy was watching all this from his room. He was interrupted by a smack on his head. It was Joey, his roommate. Joey ran away making fun of the boy. It made him mad but he couldn't do anything because he was sacred. Instead, he went outside to play with the leaves.
                                        "So, you like to play with the leaves?" the girl asked.
                                        The sudden question startled the boy.
                                        "Oh god! you scared me. I love catching the leaves as if I missed any, the tree won't make fun of me," the boy replied holding his breath.
                                    </p>    
                                    <p>
                                        "You know, when I was a kid I too collected the leaves and made different kinds of things with it," the girl said.<br>
                                        "Things like?" the boy asked.<br>
                                        "Like paintings, crowns, belts and sometimes clothes too," the girl said.<br>
                                        The boy smiled and caught another leaf.<br>
                                        "I'm Samantha. And you are?" the girl asked.<br>
                                        "My name is Marcus," the boy said.<br>
                                        The lunch bell rang. Everyone ran towards the canteen including Marcus.<br>
                                        
                                        Marcus grabbed a plate and started putting food on it. He saw Samantha, sitting alone so he thought of joining her. But he was stopped midway by some bullies. They started teasing him. He saw Samantha watching everything happening to him but she didn't say or do anything. Everyone present there was laughing at Marcus. He started weeping. The bullies then flipped his plate. It fell on the ground and the food spilled on the floor. Marcus ran away from there with tears in his eyes.
                                    </p>
                                    <p>    
                                        
                                        The next morning, the ground was kept closed from the children for cleaning purposes. So everyone had to stay inside. Marcus ran and locked himself inside the bathroom, distancing himself from others because he was scared, he might get bullied again.
                                        Someone knocked on the door of the bathroom where Marcus was hiding.
                                        Marcus got scared so he didn't respond and stayed quite.<br>
                                        "Marcus! You in there?" it was Samantha.<br>
                                        "Marcus! It's me, Samantha. Come out I have something to show you," Samantha said again after a pause.<br>
                                        Marcus got confused after hearing her voice. He wondered why she was here. What does she want from him? So he opened the door.
                                        "Oh! Look at you. You look terrified as always. What are you so afraid of? Did I scare you? By the way, I have something to show you. Come with me," she said and started walking out.
                                        <br> Marcus was a little bit afraid also angry because of what happened the other day at lunch. But he decided to go with her. 
                                        They went down in the basement. It was dark in there.
                                     </p>   
                                     <p>  
                                        "This is the place where I spent most of my childhood. I used to play and draw in here, all by myself. I was also a loner, just like you. You see that skylight up there? That's the only source of light here. In autumn, the leaves would come in through that skylight. You can play with them here as well.," Samantha explained.<br>
                                        He walked towards the skylight but didn't say anything because he was still mad at her.<br>
                                        Samantha saw the disappointment in his eyes. She put her hand on his shoulder, gave him a soft squeeze, and said, "Look, buddy, I know you were expecting me to help you from the bullies the other day but you know what, things don't work that way. If I would've helped you out, you'll never learn how to fight with anyone.
                                        I'm always there to protect you. If something big comes I'll surely help you out through it. But you must learn to fight your battles on your own."<br>
                                        Marcus looked at her in a daze.<br>
                                        Samantha continued, "See, you can't rely on me to save you from others. What if you got in some trouble and I'm not there to help you out. You'll let others bully you, abuse you, make fun of you? So, it's better if you start protecting yourself. You should stay strong in any situation. It'll make you brave."<br>
                                    </p>     
                                     <p>   
                                        Marcus didn't know what to say. He was stunned by her words. A few moments ago he was blaming her for everything that happened to him and now he realized that it was all his fault. She was just trying to make him strong. He kept gazing at her.
                                        "You okay, champ?" Samantha asked, sensing his daze.<br>
                                        Marcus smiled in response.<br>
                                        "Okay, come here. I have something in here to show you," Samantha said and pulled him towards the cupboard. She took out the artwork of hers from it.<br>
                                        It was an exact copy of the orphanage they are currently living in. All the 5 blocks of the orphanage were visible, it also had the tree under which he uses to play at the same location.<br>
                                        "See, I made this one when I was your age. I used real leaves to make the tree. They're all dried up now," Samantha said. 
                                    </p>
                                    <p>    
                                        
                                        "Do you have more with you?" Marcus asked.<br>
                                        "Yes, I made loads of them. But I can't find any now. Maybe I've kept them somewhere else. Will you help me to find them out?" Samantha said.<br>
                                        "Okay, let's start looking for them. It's like a treasure hunt. I love to play treasure hunt," Marcus said in excitement.<br>
                                        They started searching for the paintings in all the boxes present there. They got some of her drawings but not all of them. So they kept searching. They couldn't find anything thereafter. <br>
                                        It was very dark in there. Marcus saw that there's another side of the basement but it wasn't clearly visible due to the darkness. He decided to go in there although he was scared Samantha called him out.<br>
                                        "Hey, I found some blank white sheets and a black crayon. If you want you can take them," she said, showing him the papers.<br>
                                        "Are you sure? I can have them?" Marcus asked.<br>
                                        "Of course you can," Samantha replied.<br>
                                        Marcus got really happy and hugged Samantha in excitement.<br>
                                        "Calm down boy! Now let's get out of here. It's lunchtime already," Samantha said.<br>
                                    </p>   
                                    <p>
                                        Marcus was really happy with the time he spent with Samantha. All his fear was gone and he felt much better and confident now. 
                                        After lunch, Marcus went back to his room and started drawing on the sheets given by Samantha.
                                        He had something on his mind but he was not sure what it was. He drew a straight line on the right side of the paper and another line on the top. He didn't know what do to next so he kept stroking on it in frustration.
                                        When he was done, he realized he actually made something. It looked like a face and he had also written something on the bottom of the paper. He didn't know what it meant so he just let it go and went to sleep.
                                        <br>
                                        The next day, he woke up early and headed towards the basement in search of Samantha's drawings.
                                        On his way, he saw Samantha cleaning the hall again, and Kim along with her friends were making fun of her. They pushed her bucket away and all the water spilled on the floor. Yet, Samantha didn't say anything to them. They kept laughing at her and Samantha continued doing her work.
                                    </p>    
                                    <p>    
                                        Marcus got confused as she was the one who told him to be brave and to fight for himself. And here she is, silently letting others bully her.
                                        Marcus didn't do anything either and left her there with the thought of making her strong.
                                        He went down in the basement. There was no light in there although the skylight was open. He stood still in the middle of the basement as he couldn't see anything.
                                        Suddenly he felt that someone passed by. He turned back to look for it but there was no one. Then he looked towards the dark side of the basement and he saw someone standing there. He got scared and ran away from it, as fast as he can. He stopped only after he reached near the tree on the ground.
                                        "Still playing with the leaves," Samantha said from behind.<br>
                                        Marcus got startled and turned towards Samantha. He was all sweating and heavily breathing.
                                        "Hey, bud, what happened? You look scared. Did the boys say anything to you again?" Samantha asked.<br>
                                        "No, they didn't," Marcus said, holding his breath.<br>
                                    </p>
                                    <p>    
                                        
                                        "Marcus, you see these leaves which are falling out from the tree, do you ever realize why they fall?" Samantha asked.<br>
                                        Marcus stared at her for answer.<br>
                                        "It's because when they grow old they start annoying the tree. So it cuts them off from the branches and let them rot on the ground as a punishment," Samantha answered.<br>
                                        "What you mean? I didn't understand," Marcus asked.<br>
                                        "You will, soon," Samantha said.<br>
                                        Marcus wondered what she wanted to say.<br>
                                        "You should get going, the weather is getting windy. It'll rain," Samantha said.<br>
                                        
                                        Marcus started walking towards his block. He was still thinking about what Samantha said to him. When he reached near the stairs, he saw the bullies standing there. <br>
                                        "Hey, look, who's here. The toy Samantha got to play with," Luke, the leader of the bullies said, making fun of Marcus.<br>
                                        Marcus thought of ignoring them and kept walking towards his room.<br>
                                        "Hey kiddo, let us know how it feels to have a friend who's double your age?" the other laughed.<br>
                                    </p>    
                                    <p>    
                                        "Look I'm not scared of you people anymore. So just leave me alone!" Marcus shouted.<br>
                                        "Uh-oh! You look furious. You scared me," Luke said and they all started laughing.<br>
                                        Marcus pushed Luke as hard as he can. He banged to the wall.<br>
                                        "You, a little piece of shit!" Luke cried and pushed Marcus away. He fell on the ground and his head hit against the wall. Soon there was blood coming out of his head and he lost his consciousness.<br>
                                        The boys got scared and ran away from there leaving Marcus behind.
                                        
                                        Marcus woke up in a different place. He has never been there before. He saw a nurse collecting some bandages.
                                        "Where am I? " Marcus asked her.
                                        "You're in my room," Samantha said before the nurse could say anything.
                                        Marcus was relieved to see her here.
                                    </p>    
                                    <p>    
                                        "Why am I here?" Marcus asked again.<br>
                                        "Relax, kid! So many questions you've," Samantha said.<br>
                                        "He will be all right. Just let him rest here for a while and then you can send him back to his room. Also, tell Elena about this in the morning. Whoever is behind this shall get punished," the nurse said.<br>
                                        "Punished! that's what you said," Marcus said.<br>
                                        "Keep quiet, Marcus!," Samantha hushed him.<br>
                                        The nurse left and Samantha went after her to get the medicines.<br>
                                        When Samantha returned she saw Marcus making some sketches. He was just stroking on the paper with a black crayon. It seemed like he's drawing some patterns.<br>
                                        Samantha interrupted him "hey, give me that drawing and take these medicines."<br>
                                        "I will take them but can I stay here for a night? I don't want to go back to my room," Marcus pleaded.<br>
                                        "You know Marcus, it's not allowed," Samantha said.<br>
                                        Marcus got sad.<br>
                                        "But I didn't say no," Samantha said and winked at him.<br>
                                        "Thank you! You're the best," Marcus exclaimed.<br>
                                        "I've something for you," Samantha said and opened the drawer next to the bed. She took out some chocolates from it and gave it to Marcus.<br>
                                        "Oh wow! Chocolates! Where did you get these?" Marcus asked.<br>
                                        "You ask lots of questions, kiddo. Just have them," Samantha said and went to open the window.<br>
                                        
                                        It was a beautiful view from there. The mountains were clearly visible. The sky was filled with glowing stars. Marcus joined Samantha to see the view. They both had chocolates. Samantha taught him about the constellations and showed him some in the sky. Marcus was all curious and excited. He asked her loads of questions about the world outside the orphanage and also about her childhood.
                                    </p>    
                                    <p>    
                                       
                                        "Do you know your parents? Like who they're and where do they live?" Marcus asked.<br>
                                        "Parents? I don't know. Elena told me that she brought me here when I was a newborn baby. My family died in a car accident," Samantha said and started gazing at the stars.<br>
                                        "Mine died in a fire," Marcus said.<br>
                                        They both looked at each other with hope in their eyes.<br>
                                        "So we don't have anyone out there. We don't have a family as others do," Marcus agonized. <br>
                                        "I guess we're each other's family. I see myself in you, Marcus. We both are the same. We're afraid of bullies around us. And the worst part no one adopts us," Samantha grieved.<br>
                                        After a pause, Marcus said, "Hey, I'm here and I promise to be with you always. I'll become powerful and I'll fight everyone for you. You don't need to worry."<br>
                                        
                                        Samantha smiled at him.
                                        "It's late now. I think you should sleep. Also, you've to get back to your room early in the morning as no one should know that you spent your night here. And we've to talk to Elena about this.," she said.
                                    </p>    
                                    <p>    
                                        In the morning, Marcus was called to Elena's office. She asked about everything that happened to him. But Marcus didn't tell her the truth. He made some story about colliding with Luke and falling instead.<br>
                                        
                                        "Seriously! You said it was a mistake?" Samantha asked. She was mad at him.<br>
                                        "I was going to tell her the truth but something stopped me. It just came to my mind that I shouldn't tell anything to Elena. I wanted them to get punished by her but I don't know what happened to me," he said, angrily.<br>
                                        Samantha saw the rage in his eyes.<br>
                                        "I have something to show. Come with me," Samantha said. She took him to her room and opened her cupboard.<br>
                                        "See these drawings," Samantha said, showing him some pictures.<br>
                                        "They are the same as mine. Who made these," Marcus asked.<br>
                                        "They are mine, Marcus," Samantha said and moved towards the window.<br>
                                    </p>    
                                    <p>    
                                        "See Marcus, we always blame God for taking away everything from us. Your parents, my parents. He made us so weak that we can't even fight for ourselves. But when God was taking everything from us the Devil was watching all this. And he's there to give us everything we desire. The power, the beauty, the strength, everything, and even more," Samantha said.<br>
                                        Marcus was confused so he asked, "Devils? You mean ghosts?" <br>
                                        Samantha picked up an old book and said, "I'm not joking, Marcus. This book here is a cult book about a Roman princess. Earlier she was a slave of a cruel king. Then she started having some nightmares about a demon. She drew the pictures of the demon, she saw in her dreams. Every day she'll draw an incomplete picture of the demon.<br>
                                        Later she realized she's actually drawing different parts of the demon just like a jigsaw puzzle. Then she attached all the pieces together. It was exactly like the demon of her dreams. It also formed a spell at the bottom and when she read out the spell written on it, everything around her changed. Everyone started addressing her as a princess".<br>
                                    </p>     
                                    <p>   
                                        "And it's for real, Marcus. I searched it on the internet and found out that the Romans actually had a princess like her. She came out of nowhere and became their princess, overnight. Later she became the queen and she's still known as the most powerful queen of the Roman civilization"<br>
                                        She turned towards Marcus and took all the drawings he made.<br>
                                        "If you see these pictures you will notice they are not some random patterns. There are words written on the bottom of some pictures. If you combine every page just the way it's mentioned in the book, you'll get the spell.<br>
                                        And not everyone can make these pictures. People who have actually seen the demon can only make these pictures.<br>
                                        Marcus, if we do so we'll get the spell and can take revenge from everyone who has hurt us," Samantha explained.<br>
                                    </p>
    
                                    <p> 
                                        Marcus was scared now. He saw the rage of revenge in her eyes. So he ran away from her towards his room.
                                        Everything that Samantha said was running in his mind. He wanted to forget all of it.
                                        When he reached his room he saw the bullies there. They were waiting for him. Marcus didn't say anything and went to his bed. Luke came to Marcus and said, "so you didn't say anything to Elena about the incident."<br>
                                        Then the other said, "I know why he didn't say our names because he's afraid of us. He's a loser and always be a loser." And they all started laughing.<br>
                                        "Listen, you little bastard, if you say anything about this to anyone, you're dead," Luke said and hit him hard on his wound. Marcus was dizzy and he fainted. The others kicked him hard. Marcus couldn't even move.<br>
                                    </p>
                                    <p>    
                                        
                                        Samantha came running for Marcus but the boys caught her and Luke slapped her hard. They tied her to a chair. Luke hit her again on her face. She got bruises and there was blood coming out of her nose.<br>
                                        "Marcus! Get up, Marcus! You said you'll save me. Get up Marcus!," Samantha cried.<br>
                                        One of the boys hit her with an iron rod and Marcus woke up. He realized it was a nightmare. He was breathing heavily and covered with sweat.<br>
                                        After the nightmare, he got something in his head. he took a paper and started drawing again. This time he shredded only half of the paper and wrote something on the bottom.<br>
                                        Marcus took the paper and ran to show it to Samantha. But the main door of his block was locked so he couldn't get out of it. 
                                    </p>
                                    <p>
                                        Disappointed, Marcus turned to get back to his room. But then he heard Samantha calling him. He turned and to his surprise, he saw Samantha standing near the stairs.<br>
                                        
                                        He was shocked. He wondered how she got in here. He ran towards her. <br>
                                        "See, I made another one!" Marcus exclaimed, showing her the drawing.<br>
                                        Samantha took the drawing and smiled, "it's done, Marcus. The spell is completed."<br>
                                        
                                        Marcus was still confused about everything. He had lots of questions running through his mind. So he asked, "See, I'm still confused about all this and I wonder, how do you know that I'm the person who can give you the spell? You're the one who discovered all this then why don't you do it on your own. You too saw the demon, right?"
                                     </p>
                                    
                                    <p>"When I was your age, I used to have these nightmares. I drew some parts of the demon but later I ignored them because it was affecting my mental peace. That's why I only have half of the spell. And you know the other half because we're connected. We both have the same life. We both get bullied. No one adopts us. We don't have any friends. Our parents were killed. Elena killed them.
                                         She killed my parents in an accident. They were crossing the road when Elena's car hit them leaving them severely injured. My mother had me in her arms. They were lying on the ground bleeding profusely, calling out for help. Elena was drunk and scared so she left them there to die. She picked me from the ground and brought me to this orphanage
                                           And she killed your parents by burning them in her own house to get the insurance money. Your parents worked for her as house helpers. She took you out of the house planned their death so no one can doubt that she caused the fire," Samantha explained.</p>


                                    <p>"I don't believe you if she accidentally killed your parents, then why she brought you here?" Marcus said.<br>
                                      Samantha took him to her room through the backdoor and showed him a file with all the proofs which she collected after years of research.
                                                           Marcus couldn't believe his ears. He sat on the ground and tears rolled down his eyes. <br>
                                      "I want revenge. I want them all to be punished no matter what. I'm ready to do this," Marcus cried.<br>
                                               Marcus was filled with rage. He just wanted to burn down the orphanage. He made a fist with anger and banged it on the wall.<br>
                                          Samantha held his hand and said, "We decided to protect each other and we both need revenge. And we can get it with the help of the demon. Meet me at the ground, near the tree. Also, don't forget the return gift I've asked"

                                         Samantha went near the tree and made a circle around it. Then she drew 9 symbols, each symbol representing the circle of hell. She arranged all the pages, making a huge diagram of a demon, and put her painting of the orphanage on the top. When she assembled everything, all the pages started binding together and they formed a book.</p>


                                         <p>Marcus came with the gift she asked for.
                                           Marcus chopped the head of the boys who bullied them and stabbed Elena. Then he collected their blood in a glass jar and gave them to Samantha as a return gift.<br>
                                              Samantha and Marcus stood in the circle and put the jar of blood under the tree. Then they held each other's hand and started saying the spell together,<br>
                                                   "Elementum Recolligo Huic Commodo Locus Mihi Vestri Vox,
                                            Elementum Ego Unda Dico Vos, Permissum Pluit Es Est Meus Nos Sic Vadum Is Exsisto" <br>
                                           The wind started rattling, the stars were creaking down and black clouds started forming around them. Thunderstorms made it difficult for them to stand. Yet they continued enchanting the spell without a pause.
                                             Suddenly a bright ray of light came from the tree and the jar of blood vanished.</p>


                                            <p>Samantha started feeling weak as she can't hold it for long, yet she continually kept enchanting the spell. The light started glowing brighter and then it covered both of them. They were still holding their hands. But Samantha couldn't take it anymore and she stopped enchanting the spell.
                                                The bright light picked them up from the ground. They felt some energy entering their body. A few moments later they fell back to the ground, unconscious.<br>
                                                After a while, Marcus woke up and saw himself. He was not a little boy anymore. He had grown big. He looked like a 20 years old boy. Smart and confident. He couldn't recognize himself.<br>
                                             He saw Samantha was lying on the ground. She looked more beautiful than usual. Her entire body was glowing. He was of her age now.
                                                  When Samantha woke up, she saw herself and realized she's different now. Her body changed. Her looks changed. She felt like she got a new body with the same old soul. She couldn't recognize Marcus at first. Then she saw the dairy in his hand and understood that it's him.</p>


                                                 <p>"We did it, Samantha," Marcus said.<br>
                                             "Still there is one thing left," Samantha said.<br>
                                                                     They burned down the orphanage, took the dairy, and walked out of it.<br> 
                                                 </p>
                                                 <p>                    

                                          Epilogue:<br>

                                                   The Diary is a Devil and it needs sacrifices of people to give power to the one who has called for it. The devil keeps changing the context of the dairy so that no one gets the idea about its underlying powers. The devil chooses its target with the help of the dairy.<br>
                                            Its previous target was the one who was reading "According to diaries"
                                              The next target is the one who is reading "The Dairy".</p>
								</div>
							</section>

					</div>

				<!-- Three -->
				<section id="three">
					<div class="inner">
						<!--<header class="major">
							<h2>Massa libero</h2>
						</header>
						<p>Nulle lorem</p>-->
						<ul class="actions">
							<li><a href="../FewPages.html" class="button next">Back</a></li>
						</ul>

						<ul class="actions">
							<li><a href="acctodiaries.html" class="button next">Next Story</a></li>
						</ul>
						<!--Random button to explor-->
						<ul class="actions">
							<script>
								var sites = [
                                'meaningless.html',
												'acctodiaries.html',
												'cloning.html',
												'thewanderer.html',
												'thediaries.html',
												'areulistning.html',
								];
							
								function randomSite() {
									var i = parseInt(Math.random() * sites.length);
									
									location.href = sites[i];
								}
							</script>
							<li><a href="#" onclick="randomSite();" class="button next">Random Explor</a></li>
							</ul>
							<ul class="action">
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>	
						    </ul>

					</div>
				</section>
			  </div>

				<!--Footer
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>-->

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>