<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="../images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<head>
		<title>The Wanderer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="../index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="../index.html">Home</a></li>
							<li><a href="../FirstDraft.html">First Draft</a></li>
							<li><a href="../FewPages.html">Few Pages</a></li>
							<li><a href="../Aboutus.html">About Us</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit">Instagram</a></li>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>The Wanderer</h1>
									</header>
									<span class="image main"><img src="../images/pic11.jpg" alt="" /></span>
									<p>
										"Blasi, do you read?", Alex said.<br>
										A crackling noise came from the other side.<br>
										"Blasi, the spaceship is not under my control, it's misbehaving. I need help. Blasi, do you copy?", Alex said. His voice is all breathy.<br>
										Again the crackling noise came and the radio went off after a long beep.
										"Blasi! Blasi! Do you copy? Blasi!", Alex cried.<br>
										No voice came from the other side.
										Alex throws away the headset in frustration and bangs the dashboard. He was all alone stuck in the middle of nowhere in the space. All the contacts were lost. He had no idea what he'll do next. And suddenly he saw an asteroid approaching towards the spaceship. He tried to change the direction of the spaceship but it wasn't functioning.<br>
										He could see his death approaching near and near. He was horrified. And BANG, it hits the spaceship. Alex can feel himself levitating in space, unconscious and he wakes up, covered in sweat, breathing heavily. Then he realized this all was a dream. It's been a routine now. He had the same dream every night.
										</p>
										<p>
										
										He looks around, everything is normal. It's 5:30 in the morning. Linda is sound asleep beside him. He kisses her forehead and gets off the bed. He then goes to his son, Will's bedroom. He's also sleeping. He feels better now.
										Alex decides to make breakfast for them. He freshens up and goes to the kitchen. He started making banana pancakes. Linda enters the kitchen unnoticed and hugs him from behind. It startles Alex.<br>
										"Gosh! It's you. I got scared." Alex said.<br>
										"Sorry, I sacred you," Linda said, playing cute.<br>
										"You shall get punished for it," Alex said and kissed her. A little peck on her lips.<br>
										"I love this punishment although I was expecting something more" jokes, Linda.<br>
										"Not with our son sleeping in another room. You'll get what you want tonight" Alex said and kissed her again.<br>
										"I'll be waiting for the punishment. But now I should get ready for work. If you're done here can you get Will ready for school? I'm getting late" Linda said.<br>
										"Sure, I'd love to," Alex said and went to Will's room.
										</p>
										<p>
										
										Alex works at a space agency where they look for the activities in the space named as 'Upper Atmosphere Research Organization' (UARO). He's a really good friend of mine as I helped him regain his memory after that horrific car accident he met 2 years ago. He trusts me more than anything.<br>
										He's been married to Linda for 8 years now but doesn't have any memory of it. He has a 5 years old son who's the apple of his eyes. Linda teaches at the school made for the kids of researchers working at UARO. Will studies in the same school. They symbolize a happy family to everyone. After that accident, everyone has been more careful about Alex.<br>
										
										Later that day, Alex dropped Linda and Will at the school and went to the agency. He was working on a new machine with which they can shoot the asteroids through laser power.<br>
										Before he could reach the lab, he was called by Mr. Williams into his cabin. Mr. Williams was the head of the research center. 
										</p>
										<p>
										
										Alex knocked on the door of Mr. Williams cabin and entered into it.<br>
										"Mr. Williams, you wanted to see me?" asked Alex standing at the door.<br>
										"Alex, there you're. Come on in and have a sit" said Mr. Williams, pleased to see him.<br>
										Alex sat on the chair wondering why he has called him.<br>
										"Alex, as you know you're the most important scientist of this organization. Whatever you've done in the last 1 year has made this organization what it is today. After you rejoined, you've been working day and night for the betterment of the organization and I really appreciate your hard work" Mr. Williams said.<br>
										"Thank you so much, sir. It's my pleasure to be a part of this organization. It's like my second home. I love working here" Alex said.<br>
										"I know! That's why I've got a very important work for you. It's something only you who can do" Mr. Williams said.<br>
										"I'll be glad to help," Alex said.<br>
										"Alex, I have a piece of very important and confidential information to share," Mr. Williams said.<br>
										"Anything serious, Mr. Williams?" Alex got worried.<br>
										"It actually is. An asteroid is approaching towards the earth and it might hit the planet in about a month" Mr. Williams said.<br>
										"Are you sure about it? It will be a great disaster if it hits the earth" Alex asked.
										</p>
										<p>
										
										"Yes and that's why I want you to complete the pending work of the laser machine as soon as possible. So that we can send it for testing" Mr. Williams said.<br>
										"But Mr. Williams that's a very short period of time and there's a lot to do. We can't finish it that soon" Alex said.<br>
										"I know it's a tough task but we don't have any other option. And you know what impact it'll have if it hits the earth. It might destroy the entire human civilization" Mr. Williams said.<br>
										"Mr. Williams all I can say right now is that I'll try and I'll try my best to complete it on time. But it's really tough" Alex said.<br>
										"Alex I trust you more than you trust yourself. I know you'll never disappoint me. And this is what I wanted from you, your pure dedication. I know you'll complete it before time" Mr. Williams said.<br>
										"Thank you, Mr. Williams. I'll do what I can. And I want you to keep me updated about the movements of the asteroid" Alex said.<br>
										"Sure, Alex. Will do. And now I want you to head towards the lab as we cannot waste a single second now. The time is clicking" Mr. Williams said.
										"Okay, Mr. Williams. Hope for the best" Alex said and left for the lab.<br>
										</p>
										<p>
										
										Alex started working on the machine. He started staying at the agency to complete the work on time. He couldn't even meet Linda and Will. His partner Jack was also there with him. They worked overnight and slept just for 3 hours a day. <br>
										One night while they were working on the final parts of the machine a devastating thing happened. Both of them were tired and sleepy yet they were working because they had to finish it by morning.<br>
										"Jack, get up! I know you haven't slept properly for days now but this the most crucial part. You can't be inattentive" Alex cried.<br>
										"I'm awake, I was just thinking something," Jack said in a sleepy voice.
										"Leave that to me and pass that capacitor here," Alex said.<br>
										Jack gave him the capacitor. He placed it inside the machine.
										"Jack plugs in the machine and do not switch it on until I say," Alex said.<br>
										But Jack wasn't attentive he switched on the switch as soon as he plugged in the machine. <br>
										And 'BOOM' there was a blast.
										</p>
										<p>
										
										Alex wakes up with the same recurring dream. He was feeling uneasy. But there wasn't any injury in his body. He saw Jack lying on the floor unconscious. He tried to reach him but he wasn't able to. Then he realized he was actually levitating in the air. He was shocked. How is this possible. 
										He saw a chain hanging beside him from the ceiling which was used to hold the machine on the place. Somehow he snatches it and comes to the ground.
										He saw a heavy iron rod lying on the floor. He picked it up easily as if there was no weight in it. He thought he might break it down with his hands so he grasped it tightly and the iron rod broke into pieces. He was shocked to see that. He took some broken parts of the iron rod and stuffed them inside his shoes and pockets so that he could gain some balance. <br>
										Alex lies down on the floor, holding a chair as he knew that the medical team would be on their way for help and he can't let anyone know about his condition. They might send him to some other researchers to know the reason behind his weightlessness. But he himself wanted to know why this was happening.
										</p>
										<p>
										
										The medical team came and lifted Alex and they realized he's weightless and easy to lift. They tied him to the stretcher and took both of them to the hospital.<br>
										As soon as Alex gained his consciousness he ran away from the hospital because he couldn't let anyone know about his condition. He was getting difficulty with walking. He felt like he's flying. He somehow reached his home.<br>
										There was no one at his home. He thought Linda and Will might be at the hospital waiting for him to gain in senses and he came here unnoticed. He didn't know what to do. He went to his room and changed into fresh clothes.
										He then went to his lab in the house holding the wall as it was difficult for him to walk. There he made a sole for his shoes with iron and osmium so that it can keep him intact to the ground. He also stuffed some of the iron and osmium plates inside his pocket and headed towards the agency as he wanted to know about his condition as soon as possible.
										</p>
										<p>
										
										When he came to the agency I saw him rushing towards the lab. I stopped him there.<br>
										"Alex! You're here? I thought you're in the hospital. And how come you look perfectly fine. It was a devastating accident. Jack couldn't even make it" I said.<br>
										"What? Jack is dead?" Alex was in shock.<br>
										"Yes, he had very severe trauma," I said.<br>
										"May his soul rest in peace. Did you meet Linda and Will? How are they? Are they fine?" Alex asked. He was worried.<br>
										"You didn't meet them? They were so worried about you" I said.<br>
										"I'll meet them once I'm done with some research here" he sounded strange.<br>
										"I guess it's something important. And it strikes me I too have something important to show you. If you don't mind would you join me at my lab?" I asked.<br>
										"Okay doctor, I too have some queries from you," he said.
										</p>
										<p>
										
										We went to my lab. Cindy, my assistant was doing some paperwork. I introduced her to Alex. They did a little handshake.<br>
										I showed him the project I was working on.<br>
										"This machine can make a clone of a person. All you have to do is place the person on one side of the machine and his DNA on the other side. It will make an exact functioning copy of the person within an hour. But the clone cannot develop a similar brain as the person so it cannot function well. And I'm working on that part right now" I said.<br>
										"That's a great discovery. I hope you resolve as the issues ASAP" he said, uninterested.<br>
										"Yeah, I'm working on that," I said.<br>
										"Dr. Snow, you treated me two years ago when I met with an accident and lost all my memories. Right?" he asked.<br>
										"Yes, I did," I said. I was getting suspicious.<br>
										"Can I see the files?" He asked.<br>
										"Sure, but what's the matter?" I asked.
										</p>
										<p>
										
										Before he could say anything a group of 6-7 people entered inside the lab with guns in their hands. They pointed the gun towards Alex and told him to come with them. Alex had a feeling that he could beat the goons single-handedly but he couldn't risk Cindy's and my lives. So he agreed to go with them. They grabbed his arms, tied his hands with a handcuff, and took him inside a car.<br>
										After they got out of the agency, Alex broke the handcuffs and slowly untied his shoelaces. Before anyone could notice anything he broke the top of the car and flew away. But he wasn't able to fly properly and got bumped into a tree. He got up from there and ran towards his home. There he couldn't find anyone. He saw a note lying on the table. He picks it up. It read:
										"Don't worry Alex, Linda, and Will are safe. They're with me. If you want to save them come and meet me."<br>
										And there was an address written on it.
										</p>
										<p>
										
										Alex hurriedly reached there. He was shocked to know that it was an abandoned building at UARO. He went inside the building. There he saw Linda, Will, and I were tied to chairs. And there were goons surrounding us. It made him very angry watching us in this condition. He picked up the metal sheet, lying on the ground and threw it towards the goons and two of them were sliced in half. Alex then realized that he's actually levitating again. Everyone present there was in shock.<br>
										Suddenly the other goons started firing at him but he could see the bullets approaching towards him slowly so he dodges the bullets and kicked the goons hard. They fell back far away, unconscious. Before he could gain his balance again, the other goon attacked him with an iron rod but it broke into pieces after touching him. Then he turned around and picked up the guns lying there and shot the goon in his head and pointed the gun towards the others.<br>
										"Hold the fire" a voice came from the main door of the building. It was Mr. Williams, the head of the UARO. <br>
										Alex got relieved as he thought that everyone is safe now and Mr. Williams will end this. But then he realized the goons were actually working for him. They're following his commands.<br>
										</p>
										<p>
										
										He didn't know what to do next so he grabbed us by our chairs and flew to the rooftop of the building. He untied us there. <br>
										"Doctor, you saw it right, what I just did? Doctor, it's happening to me after the accident at the lab. I couldn't keep myself intact to the ground without any support. Tell me doctor what's wrong with me?" Alex cried. He was worried.
										"I've something to confess, Alex," I said. It was the time.<br>
										"What is it, doctor?" Alex asked surprisingly.<br>
										"Don't do this doctor" Linda warned me.<br>
										"What is it, honey? Is there anything wrong? Let me know" he said to Linda.<br>
										"Alex! You're from another planet" I said.<br>
										"What are you saying, doctor? What do you mean?" Alex was in shock.<br>
										"Alex! Don't listen to him. He's mad" Linda resisted.<br>
										I saw Linda staring at me with her wide angry eyes. But I had to tell him the truth.
										</p>
										<p>
										
										"It's true Alex. You belong to some other planet in the galaxy. Two years ago your spaceship crashed into an asteroid. You were levitating in the space unconsciously. The scientists at the UARO found you there and brought you to my lab. But you were still levitating here because of the gravity. So I injected some osmium inside your body. Which I guess broke off after the accident at the lab and you started levitating again. When you woke up, you gained some balance but your memory was lost. <br>
										They wanted to do some research on you so they gave you a job at UARO and built a fake story about the car accident and memory loss. They gave you a fake family as well" I said.<br>
										Alex was shocked. He couldn't believe his ears. All this was fake. His job was fake. His life was fake. His family whom he loved more than anything was fake. His eyes filled with tears. <br>
										He turned around to see Linda. She was pointing a gun towards him. Before he could do anything she shot him.<br>
										<br>
										P.S. About two months after this incident, a man was seen jumping from trees to trees and cliffs to cliffs in a nearby village.</p>
								</div>
							</section>

					</div>

				<!-- Three -->
				<section id="three">
					<div class="inner">
						<!--<header class="major">
							<h2>Massa libero</h2>
						</header>
						<p>Nulle lorem</p>-->
						<ul class="actions">
							<li><a href="../FewPages.html" class="button next">Back</a></li>
						</ul>

						<ul class="actions">
							<li><a href="cloning.html" class="button next">Next Story</a></li>
						</ul>
						<!--Random button to explor-->
						<ul class="actions">
							<script>
								var sites = [
												'meaningless.html',
												'acctodiaries.html',
												'cloning.html',
												'thewanderer.html',
												'thediaries.html',
												'areulistning.html',
								];
							
								function randomSite() {
									var i = parseInt(Math.random() * sites.length);
									
									location.href = sites[i];
								}
							</script>
							<li><a href="#" onclick="randomSite();" class="button next">Random Explor</a></li>
							</ul>
							<ul class="action">
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>	
						    </ul>

					</div>
				</section>
			  </div>

				<!--Footer
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>-->

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>