<!DOCTYPE HTML>
 <html>
	<head>
		<link rel="icon" href="images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<!-- <head>
		<script
           src="https://code.jquery.com/jquery-3.6.0.min.js"
           integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
           crossorigin="anonymous">
		</script>
		<script>
			$(function(){
				$('#header').load('bar.html');

			})
		</script>
	</head>
	<body><div id="header"></div>	-->	
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		 <!-- Wrapper -->
			<div id="wrapper">

				 <!-- Header --> 
					<header id="header">
						<a href="index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header> 

                
				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="FirstDraft.html">First Draft</a></li>
							<li><a href="FewPages.html">Few Pages</a></li>
							<li><a href="Aboutus.html">About Us</a></li>
						</ul>
					</ul>
					<ul class="actions stacked">
						<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit">Instagram</a></li>
					</ul>
				
					</nav>

					


				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>About Us</h1>
									</header>
									<!-- Content -->
										<h2 id="content"></h2>

										<!--here you can i few pages section and few words section click able-->
										<p>Whenever I got any ideas I write it down and start adding building blocks to shape it as a story.<br> 
										   Mostly a word or a thought is enough to start writing for me.<br>   
										   Here you will find Short Stories under the 
										   
										<a href = "FewPages.html" target="_blank">
											"Few Pages"
										</a> and Under 
										
										<a href = "FirstDraft.html" target="_blank">
											"Few Words"
										</a> you'll find some ideas that didn't make it to the short story.<br> 

											</p>

                                        <!--Feedback Section-->
										<div class="row">
											<div class="col-6 col-12-small">
												<h3>Feedback</h3>
										        <p>For Feedback:   
													<a href = "mailto:fantasies.are.dark@gmail.com?subject = Feedback&body = Message" target="_blank">
														Click Here
													</a>
                                                </p>
											<p>Reach Us via Email:<br>fantasies.are.dark@gmail.com</p>
											<p>For Further Query DM us: <br>
												<a href="https://www.instagram.com/fantasies.are.dark/" target="_blank">@fantasies.are.dark</a> 
												
                                            </p>   
											</div>
                                            <!--Future Updates Section-->
											<div class="col-6 col-12-small">
												<h3>Future Updates</h3>
												<p>New Story Coming Soon </p>
											</div>

											
						<!-- Three -->
							<section id="three">
								<div class="inner">
									<!--<header class="major">
										<h2>Massa libero</h2>
									</header>
									<p>Nulle lorem</p>-->

									<ul class="actions">
										<li><a href="index.html" class="button next">Home Page</a></li>
									</ul>
									<ul class="actions">
										<li><a href="FewPages.html" class="button next">Explor Few Pages</a></li>
									</ul>
									<ul class="actions">
										<li><a href="FirstDraft.html" class="button next">Explor Few Words</a></li>
									</ul>
								</div>
							</section>

					      </div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>