<!DOCTYPE HTML>
 <html>
	<!-- <head>
		<script
           src="https://code.jquery.com/jquery-3.6.0.min.js"
           integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
           crossorigin="anonymous">
		</script>
		<script>
			$(function(){
				$('#header').load('bar.html');

			})
		</script>
	</head>
	<body><div id="header"></div>	-->	
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		 <!-- Wrapper -->
			<div id="wrapper">

				 <!-- Header --> 
					<header id="header">
						<a href="index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header> 

                
				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="FirstDraft.html">First Draft</a></li>
							<li><a href="FewPages.html">Few Pages</a></li>
							<li><a href="Aboutus.html">About Us</a></li>
						</ul>
						<!-- <ul class="actions stacked">
							<li><a href="#" class="button primary fit">Get Started</a></li>
							<li><a href="#" class="button fit">Log In</a></li>
						</ul>-->
					</nav>

					


				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>About Us</h1>
									</header>
 	 

									<!-- Content -->
										<h2 id="content"></h2>
										<p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing adipiscing.</p>
										<div class="row">
											<div class="col-6 col-12-small">
												<h3>Feedback</h3>
												<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
											</div>
											<div class="col-6 col-12-small">
												<h3>Future Updates</h3>
												<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor. Ante commodo blandit adipiscing integer semper orci eget. Faucibus commodo adipiscing mi eu nullam accumsan morbi arcu ornare odio mi adipiscing nascetur lacus ac interdum morbi accumsan vis mi accumsan ac praesent.</p>
											</div>
											
						<!-- Three -->
							<section id="three">
								<div class="inner">
									<!--<header class="major">
										<h2>Massa libero</h2>
									</header>
									<p>Nulle lorem</p>-->

									<ul class="actions">
										<li><a href="index.html" class="button next">Home Page</a></li>
									</ul>
									<ul class="actions">
										<li><a href="FewPages.html" class="button next">Explor Few Pages</a></li>
									</ul>
									<ul class="actions">
										<li><a href="FirstDraft.html" class="button next">Explor First Draft</a></li>
									</ul>
								</div>
							</section>

					      </div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>