<!DOCTYPE HTML>
<html>
    <head>
		<link rel="icon" href="images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<head>
		<title>Few Pages</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="FirstDraft.html">First Draft</a></li>
							<li><a href="FewPages.html">Few Pages</a></li>
							<li><a href="Aboutus.html">About Us</a></li>
						</ul>
					</ul>
					<ul class="actions stacked">
						<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit">Instagram</a></li>
					</ul>
				
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="images/pic07.jpg" alt="" />
							</span>
							<header class="major">
								<h1>Few Pages</h1>
							</header>
							<div class="content">
								<p>Find the key emotion; this may be all you need know to find your short story.</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<!--<header class="major">
										<h2></h2>
									</header>-->
									<p>"You don’t start out writing good stuff. You start out writing crap and thinking it’s good stuff, and then gradually you get better at it." <br>- Octavia E. Butler </p>
								</div>
							</section>

						<!-- Two -->
						<section id="two" class="spotlights">
							<!--On top-->
							<section>
								<a href="story/meaningless.html" class="image">
									<img src="images/pic08.jpg" alt="" data-position="top center" /> 
								</a>
								<div class="content">
									<div class="inner">
										<header class="major">
											<h3>Meaningless</h3>
										</header>
										<p>When I was born I guess my parents were happy. Although I never saw them because they died when I was young, that's what everyone say. Also, I have no track of my age....</p>
										<ul class="actions">
											<li><a href="story/meaningless.html" class="button">Read more</a></li>
										</ul>
									</div>
								</div>
							</section>

                             <!--Previous-->
							<section>
								<a href="story/thediaries.html" class="image">
								<img src="images/pic08.jpg" alt="" data-position="center center" /> 
								</a>
								<div class="content">
									<div class="inner">
										<header class="major">
											<h3>The Diary</h3>
										</header>
										<p>Elena brought a baby girl to her orphanage and told the nurse to check her vitals. The nurse took the baby. "She looks cute and innocent. How can anyone do this to her?" the nurse said "If that were the criteria for keeping a baby then....</p>
											
										<ul class="actions">
											<li><a href="story/thediaries.html" class="button">Read more</a></li>
										</ul>
									</div>
								</div>
							</section>
								
                                
								<section>
									<a href="story/cloning.html" class="image">
										<img src="images/pic08.jpg" alt="" data-position="top center" /> 
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Cloning</h3>
											</header>
											<p>A car stopped at the nearby road to the forest. A team of investigators came out of it and moved towards the forest. After walking a mile deep into the forest they saw a dead body hanging....</p>
											<ul class="actions">
												<li><a href="story/cloning.html" class="button">Read more</a></li>
											</ul>
										</div>
									</div>
								</section>


								<section>
									<a href="story/thewanderer.html" class="image">
										<img src="images/pic08.jpg" alt="" data-position="25% 25%" /> 
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>The Wanderer</h3>
											</header>
											<p>The spaceship is not under my control, it's misbehaving. I need help, Blasi do you copy?", Alex said. His voice is all breathy.
												Again the crackling noise came and....</p>
											<ul class="actions">
												<li><a href="story/thewanderer.html" class="button">Read more</a></li>
											</ul>
										</div>
									</div>
								</section>


								<section>
									<a href="story/areulistning.html" class="image">
										<img src="images/pic08.jpg" alt="" data-position="top center" /> 
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Are You Listning?</h3>
											</header>
											<p>He told me once that I have got no limits, I can fly as high as I want to and he'll always be there for me. But I guess my life has....</p>
											<ul class="actions">
												<li><a href="story/areulistning.html" class="button">Read more</a></li>
											</ul>
										</div>
									</div>
								</section>


								<section>
									<a href="story/acctodiaries.html" class="image">
										<img src="images/pic08.jpg" alt="" data-position="25% 25%" /> 
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>According To Diaries</h3>
											</header>
											<p>I'm in the metro, returning home after a tiring day at work. Now you must be wondering, why I'm writing this even after being tired as hell. Well....</p>
											<ul class="actions">
												<li><a href="story/acctodiaries.html" class="button">Read more</a></li>
											</ul>
										</div>
									</div>
								</section>


								<section>
									<a href="story/longlostlove.html" class="image">
										<img src="images/pic08.jpg" alt="" data-position="top center" /> 
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Long Lost Love</h3>
											</header>
											<p>I don't know why I'm this dumb. I was in so hurry that I forgot my wallet at home. Now it's 12 o'clock in the night and I don't have a single penny in my pockets....</p>
											<ul class="actions">
												<li><a href="story/longlostlove.html" class="button">Read more</a></li>
											</ul>
										</div>
									</div>
								</section>


								<section>
									<a href="story/perinimper.html" class="image">
										<img src="images/pic08.jpg" alt="" data-position="25% 25%" /> 
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Perfection In Imperfection</h3>
											</header>
											<p>Here I'm standing alone because I'm a mess. A person who don't want to follow the rules of the world. A person who doesn't want to be perfect.
												As I was not perfect I accepted my fate of being alone until I met....</p>
											<ul class="actions">
												<li><a href="story/perinimper.html" class="button">Read more</a></li>
											</ul>
										</div>
									</div>
								</section>


								<section>
									<a href="story/fillinggap.html" class="image">
										<img src="images/pic08.jpg" alt="" data-position="top center" /> 
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3>Filling the Gaps</h3>
											</header>
											<p>I saw a girl in the bar. She was wearing a black dress, which really suited her. I just wanted to start a conversation with her so I thought of....</p>
											<ul class="actions">
												<li><a href="story/fillinggap.html" class="button">Read more</a></li>
											</ul>
										</div>
									</div>
								</section>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="inner">
									<!--<header class="major">
										<h2>Massa libero</h2>
									</header>-->
									<p>"Writing a novel is like driving a car at night. 
										You can only see as far as your headlights, 
										but you can make the whole trip that way." <br>
										-  E. L. Doctorow</p>
									<ul class="actions">
										<li><a href="FirstDraft.html" class="button next">Explor Few Words</a></li>
									</ul>
									<ul class="actions">
										<li><a href="Aboutus.html" class="button next">Feedback</a></li>
									</ul>
								</div>
							</section>
			         </div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>

			</div> 

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>