<!DOCTYPE HTML>
<html>
    <head>
		<link rel="icon" href="images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<head>
		<title>Fantasies Are Dark</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<!--<a href="index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>-->
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>
    
				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="FirstDraft.html">First Draft</a></li>
							<li><a href="FewPages.html">Few Pages</a></li>
							<li><a href="Aboutus.html">About Us</a></li>
							
						</ul>
						<ul class="actions stacked">
							<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit" class="icon brands alt fa-instagram" >Instagram</a></li>
						</ul>
					</nav> 

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>FANTASIES ARE DARK</h1>
							</header>
							<div class="content">
								<p>Here You Will Find Some Amazing Short Stories <br>
								   and Some Random Thoughts. 
								</p>
			                    
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Read Here</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">


							<!-- Few Pages-->
							<article>
								<span class="image">
									<img src="images/pic02.jpg" alt="" />
								</span>
								<header class="major">
									<h3><a href="FewPages.html" class="link">Few Pages:</a></h3>
									<h4> Short Story Section</h4>
									<!--<p>Find the key emotion; this may be all you need know <br> to find your short story.</p>-->
								</header>
							</article>

							<!-- Frist Draft -->
								<article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="FirstDraft.html" class="link">Few Words:</a></h3> 
										<h4>Random Thoughts Section</h4>
										<!--<p>The first draft is just you telling yourself the story.
										</p>-->
									</header>
								</article>

								

								<!-- Latest Story -->
								<article>
									<span class="image">
										<img src="images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h4><a href="story/meaningless.html" class="link">Read Latest Story Here:</a></h4>
										<h3>Meaningless</h3>
									</header>
								</article>
								<!-- Random Pick -->
								<article>
									<span class="image">
										<img src="images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<script>
											var sites = [
												
												'story/meaningless.html',
												'story/acctodiaries.html',
												'story/cloning.html',
												'story/thewanderer.html',
												'story/thediaries.html',
												'story/areulistning.html',
												'draftstory/bucketlist.html',
											
											];
										
											function randomSite() {
												var i = parseInt(Math.random() * sites.length);
												console.log(sites,'prashant')
												location.href = sites[i];
											}
										</script>
										<h3><a href="#" onclick="randomSite();" class= "link">Random Pick</a></h3>
										<p>This will rediect you to the Random Story or Any Page</p>
										
									</header>
								</article>
								
								<!--<article>
									<span class="image">
										<img src="images/pic05.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Consequat</a></h3>
										<p>Ipsum dolor sit amet</p>
									</header>
								</article>

								<article>
									<span class="image">
										<img src="images/pic06.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="landing.html" class="link">Etiam</a></h3>
										<p>Feugiat amet tempus</p>
									</header>
								</article>-->
							</section>

						<!-- ABOUT US BUTTON -->
							<section id="two">
								<div class="inner">
									<!-- <header class="major">
										<h2>About Us</h2>
									</header>
									<p></p> -->
									<ul class="actions">
										<li><a href="Aboutus.html" class="button next">ABOUT US</a></li>
									</ul>
								</div>
							</section>
					</div>

				
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>