<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="../images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<head>
		<title>Bucket list</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="../index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="../index.html">Home</a></li>
							<li><a href="../FirstDraft.html">First Draft</a></li>
							<li><a href="../FewPages.html">Few Pages</a></li>
							<li><a href="../Aboutus.html">About Us</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit">Instagram</a></li>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Bucket List</h1>
									</header>
									<span class="image main"><img src="../images/pic11.jpg" alt="" /></span>
									<p>Part:1
										It's midnight, the moon is shining bright in the sky filled with tiny glittery stars. The wind is cold and breezy. Just the way it used to be in the olden days.
										It reminds me of the beautiful time we used to spend together every alternate night, sitting in the balcony, talking about our everyday lives, watching movies with a glass of wine in our hands and we never realised how late it would get. I remember the night when I broke her favourite wine class, that one was a tough one. She got really mad at me. I guess I'm prone to breaking things. First I broke the wine glass and then the bond we shared. 
										</p>
										<p>
										Part:2
										I remember how chatty she was. She had a really long bucket list. She'll make plans for everything, our foreign trips, doing all of the adventurous things and her wild fantasies of making out under the open night sky, having sex on the top of the mountain or in the balcony of a 5 star hotel. She wanted all of her weird ideas to be fulfilled.
										And when you think everything is alright, it falls apart. I don't know what I did wrong. Maybe I didn't say sorry when I should have. My ego was bigger than my love. And it got worse by time.
										</p>
										<p>
										Part:3
										You see how memories get exciting when you recall them. Some give you butterflies and some remind you why you're so strong.
										That's when I decided to live all her dreams just the way she wanted on my own. I did everything like she would do. And today I lived her last wish. Now I can return to my home and sleep next to her peacefully. After all the years of traveling, I'm sick, weak and old. But I'm happy because I'm finally going to meet her in heaven.</p>
								</div>
							</section>

					</div>

				<!-- Three -->
				<section id="three">
					<div class="inner">
						<!--<header class="major">
							<h2>Massa libero</h2>
						</header>
						<p>Nulle lorem</p>-->
						<ul class="actions">
							<li><a href="../FewPages.html" class="button next">Back</a></li>
						</ul>

						<ul class="actions">
							<li><a href="confession.html" class="button next">Next Story</a></li>
						</ul>
						<!--Random button to explor-->
						<ul class="actions">
							<script>
								var sites = [
									'bucketlist.html',
									'confession.html',
									'schoolcrush.html',
									'travlcrush.html',
								];
							
								function randomSite() {
									var i = parseInt(Math.random() * sites.length);
									
									location.href = sites[i];
								}
							</script>
							<li><a href="#" onclick="randomSite();" class="button next">Random Explor</a></li>
							</ul>
							<ul class="action">
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>	
						    </ul>

					</div>
				</section>
			  </div>

				<!--Footer
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>-->

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>