<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="../images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<head>
		<title>School Crush</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="../index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="../index.html">Home</a></li>
							<li><a href="../FirstDraft.html">First Draft</a></li>
							<li><a href="../FewPages.html">Few Pages</a></li>
							<li><a href="../Aboutus.html">About Us</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit">Instagram</a></li>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>School Crush</h1>
									</header>
									<span class="image main"><img src="../images/pic11.jpg" alt="" /></span>
									<p>When I looked around and saw the mess, I realised moving to a new city is not my cup of tea. I've been trying to arrange the house for last two hours, yet nothing is on it's place. So I decided to take a break instead. I took my phone and started looking for matches in this new city on 'Match Maker'.
										Strange! I found 'Kartik' there. My classmate from school and my childhood crush. But he was with Shalini I guess. I swiped right to know what's actually happening in his life. I got a match. It was quick so I sent a 'Hi'.
										"'Kritika? Is it you?," was his reply. Damn! He remembers me. And the conversation continued. We talked about our friends, teachers and school memories. Precious! Aren't they?
										I asked him about Shalini and got to know that they broke up about a year ago because of some trust issues. Yeah, I got excited and asked him for a date. Afterall he was my crush. I know I'm an idiot. 
										He didn't reply. For a while I thought I ruined everything but then my phone buzzed. There was a message from him,"Sorry! Got a phone call from my office and 'Classic Café' is okay for you?"
										Next day I dressed to impress. I reach the café, where he was already waiting for me. It was great feeling meeting him after so long. We talked for an hour. The time passed like wind.
										I had to clear my doubts so I couldn't stop myself from asking,"So, after Shalini, did you date someone?"
										"A few, but none of them were as good as my crush," he said.<br>
										"Shalini, right?," I said.<br>
										"She was never my crush. We were friends at first and later dated eachother. I had crush on someone else from the class. Infact I used to copy her answers during exams," he said.<br>
										"But you used to copy from my answer sheet," I said.<br>
										It hit me late. He had crush on me. Imagine, your crush has crush on you. I was on the cloud nine. I blushed.</p>
								</div>
							</section>

					</div>

				<!-- Three -->
				<section id="three">
					<div class="inner">
						<!--<header class="major">
							<h2>Massa libero</h2>
						</header>
						<p>Nulle lorem</p>-->
						<ul class="actions">
							<li><a href="../FewPages.html" class="button next">Back</a></li>
						</ul>

						<ul class="actions">
							<li><a href="travlcrush.html" class="button next">Next Story</a></li>
						</ul>
						<!--Random button to explor-->
						<ul class="actions">
							<script>
								var sites = [
								'bucketlist.html',
									'confession.html',
									'schoolcrush.html',
									'travlcrush.html',
								];
							
								function randomSite() {
									var i = parseInt(Math.random() * sites.length);
									console.log(sites,'prashant')
									location.href = sites[i];
								}
							</script>
							<li><a href="#" onclick="randomSite();" class="button next">Random Explor</a></li>
							</ul>
							<ul class="action">
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>	
						    </ul>

					</div>
				</section>
			  </div>

				<!--Footer
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>-->

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>