<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="../images/fivo1.png" type="image/gif" sizes="16x16">
	  </head>
	<head>
		<title>Travel Crush</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="../index.html" class="logo"><strong>F.A.D</strong><span>fantasies are Dark</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="../index.html">Home</a></li>
							<li><a href="../FirstDraft.html">First Draft</a></li>
							<li><a href="../FewPages.html">Few Pages</a></li>
							<li><a href="../Aboutus.html">About Us</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="button primary fit">Instagram</a></li>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>My Traveling Crush</h1>
									</header>
									<span class="image main"><img src="../images/pic11.jpg" alt="" /></span>
									<p>Okay, it's Monday but who said Mondays have to suck? My Mondays were also as irritating as yours, until the Monday I met her.
										As usual I was late for my college bus because I thought of spending my Sunday night with marvel movies. But guess what? I'm not the only one dealing with the Sunday night hangover. The bus is late as well. Since mine is the last stop, there's no vacant seat on the bus. I plugged in my earphones and stand beside the aisle. 
										<p>
										</p>
										I see some unfamiliar faces. Aha! How can I forget? Today's the first day of college for the new students. I look around and got stuck on a pretty a face. She is beautiful. I thought of going to talk to her but I dropped the plan. You know crushes are usually out of your league.
										<p>
										</p>
										
										I had a really fuck all Monday but I guess god had got little mercy on me. On my way back to home I got a seat beside her on the bus. 
										You know how difficult it is to start a conversation with your crush. But I had to do it. I gathered all my courage and said 'Hi' to her. And that was the best decision I've ever made. I had a really amazing conversation with her. Her innocence, her simplicity, her caring nature made me realise it was really worth a shot. We became friends. First step accomplished.
										<p>
										</p>
										
										That conversation gave me a reason to wake up early and catch the bus on time. I get on the bus and luckily there's a vacant seat next to her. I sat on it. She smiled at me. We talked and talked and talked until the bus reached it's destination. It felt really good talking to her. It was special for me. I spent such beautiful moment after really long time. And that's when God realised that it's enough of happiness one can get.
										<p>
										</p>
										
										She have a boyfriend. She told me this in the middle of our conversation. At first I was blank and in shock but then I realised it's completely okay. This won't change the friendship we have. I'm the one having feelings for her and it will always remain the same but she don't need to know about it. She'll always be my traveling crush. </p>
								</div>
							</section>

					</div>

				<!-- Three -->
				<section id="three">
					<div class="inner">
						<!--<header class="major">
							<h2>Massa libero</h2>
						</header>
						<p>Nulle lorem</p>-->
						<ul class="actions">
							<li><a href="../FewPages.html" class="button next">Back</a></li>
						</ul>

						<ul class="actions">
							<li><a href="bucketlist.html" class="button next">Next Story</a></li>
						</ul>
						<!--Random button to explor-->
						<ul class="actions">
							<script>
								var sites = [
								'bucketlist.html',
									'confession.html',
									'schoolcrush.html',
									'travlcrush.html',
								];
							
								function randomSite() {
									var i = parseInt(Math.random() * sites.length);
									console.log(sites,'prashant')
									location.href = sites[i];
								}
							</script>
							<li><a href="#" onclick="randomSite();" class="button next">Random Explor</a></li>
							</ul>
							<ul class="action">
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>	
						    </ul>

					</div>
				</section>
			  </div>

				<!--Footer
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<p>Follow Us Here:</p>
								<li><a href="https://www.instagram.com/fantasies.are.dark/" target="_blank" class="icon brands alt fa-instagram"></a><span class="label"><per> Instagram</per></span></a></li>
							</ul>
						</div>
					</footer>-->

			</div>

		<!-- Scripts -->
			<script src="../assets/js/jquery.min.js"></script>
			<script src="../assets/js/jquery.scrolly.min.js"></script>
			<script src="../assets/js/jquery.scrollex.min.js"></script>
			<script src="../assets/js/browser.min.js"></script>
			<script src="../assets/js/breakpoints.min.js"></script>
			<script src="../assets/js/util.js"></script>
			<script src="../assets/js/main.js"></script>

	</body>
</html>